// Load generic
@import "generic/reset_meyer.styl"
@import "generic/reset_flexbox.styl"

// Load config & var
@import "settings/global.styl"
@import "settings/easing.styl"
@import "settings/icons.styl"
@import "settings/colors"
@import "settings/fonts"
@import "settings/sizes.styl"


// Load mixins & functions
@import "core/utils.styl"
@import "core/sizing.styl"
@import "core/pseudoElements.styl"
@import "core/icons.styl"
@import "core/kaduk.styl"
@import "core/gridz.styl"
@import "core/sprite.styl"

// Tools
@import "tools/links.styl"

// Load styles

// Load tools
// --- nothing here (yet)

// Load base
@import "base/base.styl"
@import "base/_utils.styl"
@import "base/_titles.styl"
@import "base/_text.styl"
@import "base/_links.styl"


// Objects
@import "objects/header.styl"
@import "objects/footer.styl"
@import "objects/home.styl"



// Components
@import "components/global.styl"
@import "components/navigation.styl"
@import "components/header.styl"
@import "components/footer.styl"
@import "components/_dots.styl"
@import "components/_arrow-circle.styl"
@import "components/_breadcrumb.styl"
@import "components/_redirect.styl"
@import "components/_card-student.styl"
@import "components/_social-list-circle.styl"
//// HOME
@import "components/home/intro.styl"
@import "components/home/location.styl"
@import "components/home/news-home.styl"
@import "components/home/sliderBlog.styl"
@import "components/home/portfolio-home.styl"
@import "components/home/pros-home.styl"
//// Web
@import "components/web/web_home.styl"
@import "components/web/web_formation.styl"
//// Global
@import "components/program.styl"
@import "components/former-students.styl"
@import "components/former_students_interview.styl"

// Trumps
// --- nothing here (yet)
