// Load generic
@import "generic/reset_meyer.styl"
@import "generic/reset_flexbox.styl"

// Load config & var
@import "settings/global.styl"
@import "settings/easing.styl"
@import "settings/icons.styl"
@import "settings/colors";
@import "settings/fonts";
@import "settings/sizes.styl"


// Load mixins & functions
@import "core/utils.styl"
@import "core/sizing.styl"
@import "core/pseudoElements.styl"
@import "core/icons.styl"
@import "core/kaduk.styl"
@import "core/gridz.styl"
@import "core/sprite.styl"

// Tools
@import "tools/links.styl"

// Load styles

// Load tools
// --- nothing here (yet)

// Load base
@import "base/base.styl"

// Objects
@import "objects/header.styl"
@import "objects/home.styl"

// Components
@import "components/navigation.styl"
@import "components/header.styl"
@import "components/global.styl"
//// HOME
@import "components/home/intro.styl"
@import "components/home/location.styl"
@import "components/home/news-home.styl"


// Trumps
// --- nothing here (yet)
