// Global
$paddLArticle = 52

.blogArticle
  i
    font-style italic
    font-size inherit
  b
    font-weight 700
    font-size inherit
  a.blogArticle__link
    @extend .linkInText
  .blogArticle__list
    padding-left s($paddLArticle)
    .blogArticle__item
      font-size s($sz7)
      line-height 1.6em
      margin-bottom s(10, $sz7)
      &:before
        content ''
        display inline-block
        width 8px
        height 8px
        border-radius 50%
        margin-right 14px
        background $cBlack


/************************************\
		HEADER ARTICLE
\************************************/
.blogArticle__header
  margin-bottom s(40, $sz7)
/************************************\
		MAIN TITLE
\************************************/
.blogArticle__title
  width 110%
  padding-left s($paddLArticle, $sz5)
  margin-bottom s(20, $sz5)
  font-size s($sz5)
  font-weight 900
  text-transform: uppercase
  letter-spacing 1px
  line-height: 1.15em
  color $cBlueTitles
  &:after
    content ''
    display: block
    width s(60, $sz5)
    height s(5, $sz5)
    margin-top s(5)
    background $cBorderTitles

/************************************\
      BLOC INFORMATION HEADER
\************************************/

.blogArticle__informations
  margin-bottom s(30)
  padding-left s($paddLArticle)
  & *
    font-size s($sz8)
    line-height 30px

.blogArticle__author
  display: inline-block
  &:after
    @extend .clearfix
  &__img
    float: left
    margin-right s(10, $sz8)
    border-radius 50%
  &__name
    position: relative
    display: inline-block
    color $cBlueCiel
    font-weight: 400
    &:after
      content ''
      position absolute
      left: 0
      bottom: 2px
      display: inline-block
      width 0%
      height 2px
      background-color $cBlueCiel
      transition .2s $ease-out-quart width

.blogArticle__author:hover .blogArticle__author__name:after
.blogArticle__author:focus .blogArticle__author__name:after
  width 100%
  transition .2s $ease-out-quart width

.blogArticle__category a
  @extend .blogArticle__author__name


.blogArticle__category a:hover:after
.blogArticle__category a:focus:after
  width 100%
  transition .2s $ease-out-quart width

/************************************\
    DESCRIPTION - TEXT D’INTRO
\************************************/
.blogArticle__description
  padding-left s($paddLArticle, $sz7)
  font-size s($sz7)
  font-weight 600
  color $cBlack
  line-height: 1.4em

/************************************\
    ARTICLE SECTION
\************************************/
.blogArticle__section
  margin s(40) 0
  &:last-child
    margin-bottom s(120)

/************************************\
    ARTICLE SUBTITLE
\************************************/
.blogArticle__subtitle
  margin-bottom s(20, $sz7)
  padding-left s($paddLArticle, $sz7)
  font-size s($sz7)
  font-weight 900
  color $cBlueTitles
  text-transform: uppercase
  letter-spacing 1.38px
  &:after
    content ''
    display: block
    width s(30, $sz7)
    height s(5, $sz7)
    margin-top s(5)
    background $cBorderTitles

/************************************\
      PARAGRAPH
\************************************/
.blogArticle__paragraph
  font-size inherit
  margin s(20, $sz7) 0
  padding-left s($paddLArticle, $sz7)
  font-size s($sz7)
  line-height 1.62em

/************************************\
      FIGURE
\************************************/
.blogArticle__figure
  position: relative
  margin s(30) 0
 /* &:after
    @extend .clearfix*/ // Pas nécessaire, comportement voulu

.blogArticle__figcaption
  position: relative
  float: right
  top s(-20, $sz10)
  right s(-20, $sz10)
  width 90%
  padding s(15, $sz10) s(25, $sz10)
  background $cWhite
  font-size s($sz10)
  font-weight 300
  color $cBlack
  line-height 1.5em
  box-shadow 0 0 2px 0 rgba(169,169,169,0.5)

/************************************\
      BLOCKQUOTE
\************************************/
.blogArticle__blockquote
  position: relative
  padding-left s($paddLArticle)
  margin s(30) 0
  &:after
    @extend .clearfix
  &:before
    float: left
    display: block
    margin s(10, 51) s(20, 51) 0 0
    icon('blockquote');
    font-size s(51)
  &__text
    position: absolute
    margin-left s(82, $sz7)
    font-size s($sz7)
    font-weight 600
    color $cBlack
    line-height: 1.62em

