/************************************\
		ASIDE
\************************************/

.blog-aside
  width s(354)
  float: right
  &__title
    @extend .hidden
  & section
    margin-bottom s(50)
    box-shadow 0 0 2px 0 rgba(169,169,169,0.50)

.postBlog
  .blog-aside
    margin-top s(100)

@media screen and (max-width 1186px)
  .blog-home
    .blog-aside
      float none
      margin s(40) auto 0 auto
      width auto
      max-width s(737)

@media screen and (max-width 1024px)
  .postBlog
    .blog-aside
      float none

@media screen and (max-width 1024px)
  .postBlog
    .blog-aside
      width: 100%
      margin-top s(30)
      padding-bottom s(100)
      & section
        margin-bottom s(30)

@media screen and (max-width 650px)
  .postBlog
    .blog-aside
      padding-bottom 0
// Generic
.title-section-aside
  padding s(25) s(30)
  border-bottom 1px solid $cGrey-lineMenu2
  color $cBlueTitles
  font-size s($sz8)
  font-weight 900
  letter-spacing 1.31px
  text-transform uppercase


/************************************\
		SEARCH BAR
\************************************/
.blog-search
  background $cWhite
  &__title
    @extend .title-section-aside
  &__container-form
    padding s(25) s(30)
  &__form
    position: relative
    &:after
      @extend .clearfix
  &__label
    position absolute
    top 35%
    padding 0 s(12)
    display: block
    transition .3s ease all
    transition-property top, font-size
  &__input
    height 52px
    width 80%
    padding 0 s(12)
    color $cBlack
    font-weight 600
    border 1px solid $cWhite2
    border-right none
    -webkit-appearance: none;
    appearance none
    border-radius 0px
  &__submit
    position: relative
    display: block
    float: right
    height s(52)
    background-color $cBlueCiel
    width 20%
    &:before
      position: relative
      icon('glass')
      color $cWhite
      z-index 3
    &:after
      content ''
      display inline-block
      position: absolute
      top: 0
      left: 0
      width 0%
      height 100%
      background-color $cBlueCiel + 15%
      transition .3s ease width
      z-index 2
    &:hover:after
      width 100%
      transition .3s ease width
    & span
      @extend .hidden

// Search effect on click
.float
  .blog-search__label
    top 12%
    font-size s($sz9)
    padding 0 s(12, $sz9)
    transition .3s ease all
    transition-property top, font-size
  .blog-search__input
    padding-top s(12)
    line-height 0;

/************************************\
  CATEGORY
\************************************/
.blog-category
  background $cWhite
  &__title
    @extend .title-section-aside
  &__list
    height s(69)
    padding s(25) s(30)
    overflow hidden
    border-bottom 1px solid $cGrey-lineMenu2
    cursor pointer
    transition .3s ease height
  &__main-item
    position: relative
    display: block
    margin-bottom s(25, $sz10)
    font-size s($sz10)
    font-weight: 700
    color $cBlue1
    text-transform: uppercase
    letter-spacing 1px
    & span
      position: relative
      color $cBlue1
      &:before
      &:after
        content ''
        position: absolute
        right: -23px
        top: 51%
        height: 2px
        width: 9px
        background: $cBlueTitles
        backface-visibility: hidden
        transition-property: transform
        transition-duration: 0.2s
      &:before
        transform: rotate(45deg);
        right: -18px;
      &:after
        transform: rotate(-45deg);
    &:before
      content ''
      position: relative
      top -1px
      display: inline-block
      width s(8, $sz10)
      height s(8, $sz10)
      margin-right s(7, $sz10)
      border-radius 50%
      background grey
    &--web:before
      background $cBlueWeb
    &--2D:before
      background $cPinkDG
    &--3D:before
      background $cGreen3D

.blog-category__list:hover
.blog-category__list:focus
  background $cGrey4
  transition .3s ease all
.blog-category__list.triggerOpen:hover
.blog-category__list.triggerOpen:focus
  background $cWhite

.triggerOpen .blog-category__main-item span:before
  content ''
  transform: rotate(-45deg)
.triggerOpen .blog-category__main-item span:after
  content ''
  transform: rotate(45deg)

.blog-category
  &__sublist
    padding-bottom s(25)
  &__subitem
    display: block
    margin-bottom s(10)
    color $cBlueCiel
    margin-left s(15)
    transition .25s ease transform
    transition .2s ease all
    transition-property transform, color
    &:before
      position: relative
      top -1px
      icon('arrow-right');
      font-size 10px
      margin-right s(8, 10)
    &:hover
    &:focus
      transform translateX(4px)
      color $cBlack
      transition .2s ease all
      transition-property transform, color

/************************************\
      SUJETS POP
\************************************/

.blog-popular
  background $cWhite
  &__title
    @extend .title-section-aside
  &__item
    position: relative
    padding s(25) s(30)
    border-bottom 1px solid $cGrey-lineMenu2
    transition .3s ease background
    &:last-child
      border-bottom none
    &:hover
    &:focus
      background $cGrey4
      transition .3s ease background
  &__figure
    position: relative
  &__figure:after
    @extend .clearfix
  &__figcaption
    font-size s($sz8)
    padding-top s(5, $sz8)
    font-weight 500
    color $cBlueTitles
    line-height 1.3em
  &__img
    display: block
    float: left
    margin-right s(13)
  &__link span
    @extend .hidden
  &__link
    @extend .cover

/************************************\
		BLOG TAGS
\************************************/

.blog-tags
  background $cWhite
  &__title
    @extend .title-section-aside
  &__list
    padding s(25) s(30)
  &__item
    position: relative
    display: inline-block
    & a
      position: relative
      display: inline-block
      padding s(5, $sz9) s(16, $sz9)
      font-size s($sz9, $sz9)
      margin 0 s(15, $sz9) s(15, $sz9) 0
      font-size s($sz9)
      font-weight 700
      letter-spacing .2px
      color $cBlueTitles
      background $cGrey4
      text-transform: uppercase
      border-radius 17px 0 17px 0
      box-shadow: 0 1px 2px 0 rgba(159,159,159,0.50);
      z-index 20
      overflow hidden
      transition .3s ease color
      &:before
        content: '';
        position: absolute;
        width: 0%;
        height: 100%;
        top: 0;
        left: 0;
        background: $cBlueCiel
        z-index: -1;
        transition .2s width
      &:hover
      &:focus
        color $cWhite
        transition .2s ease color
      &:hover:before
      &:focus:before
        width 100%
  &__button
    display: block
    width 100%
    font-size s($sz10)
    font-weight 900
    color $cBlueTitles
    letter-spacing 1.15px
    background $cGrey4
    text-transform: uppercase
    padding s(25) 0
    transition .3s ease background
    &:hover
    &:focus
      background $cGrey4 - 5%
      transition .3s ease background
      outline none

.blog-tags__list
  height 192px
  overflow hidden
.blog-tags__item:nth-child(8)
  margin-bottom 100px

.blog-tags__list.show-all-tags
  height auto
  .blog-tags__item:nth-child(8)
    margin-bottom: 0


/************************************\
		AUTOCOMPLETE
\************************************/

.ui-autocomplete
  max-height: 100px;
  overflow-y: auto;
  overflow-x: hidden;

.ui-menu
  max-width s(235)
  padding 0
  &::-webkit-scrollbar
    width: 12px;
  &::-webkit-scrollbar-thumb
    background-color $cBlueCiel

.ui-menu-item
  font-size s($sz8)
  padding s(10, $sz8) s(12, $sz8)
  font-weight 700
  transition .25s ease background-color
  & *
    color $cBlack
    border none
    border-radius 0
    line-height: 1.3em
  &:hover
  &:focus
    background-color $cGreyLight
    transition .25s ease background-color

.ui-widget.ui-widget-content
  border 1px solid $cWhite2
  border-top none

.ui-menu .ui-menu-item-wrapper
  padding 0
.ui-menu-icons .ui-menu-item-wrapper
  padding-left: 0
.ui-menu .ui-menu-item
  list-style-image none

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
  border none
  background: none;
  font-weight: 700;
  background-color none
  color: $cBlack
}

.ui-menu .ui-state-focus,
.ui-menu .ui-state-active
  margin: 0




