.blogArticle__title
  font-size s($sz5)
  font-weight 900
  text-transform: uppercase
  letter-spacing 1px
  color $cBlueTitles
  &:after
    content ''
    display: block
    width s(60)
    height s(5)
