.comments
  position: relative
  background $cWhite
  padding-top s(130)
  &:before
    @extend .baseshawl
    background $cWhite
    transform: skewY(4.5deg);
    transform-origin 100% 0
  &__wrapper
    @extend .containerGridz
