.comments
  position: relative
  background $cWhite
  padding-top s(130)
  &:before
    @extend .baseshawl
    background $cWhite
    transform: skewY(4.5deg);
    transform-origin 100% 0
  &__wrapper
    @extend .containerGridz
  &__header
    width col(8,12)
    margin: 0 auto s(60) auto
    &:after
      @extend .clearfix
  &__count
    float: left
    width s(237)
    &:after
      @extend .clearfix
    &__title
      float: left
      font-size s($sz6)
      font-weight: 900
      text-transform: uppercase
      color $cBlueTitles
      letter-spacing 1.67px
    &__number
      float: right
      position: relative
      top -5px
      display: inline-block
      background-color #F64851
      font-weight: 700
      min-width 34px
      min-height 34px
      border-radius 50%
      & span
        font-size s($sz8)
        color $cWhite
        text-align: center
        line-height: 30px
        display: block

.comments__share
  position: relative
  top -6px
  float: right
  display: flex
  align-items center
  &__title
    font-weight: 700
    color $cBlueTitles
    font-size s($sz8)
    margin-right s(15)
  & .social-list-circle
    display: inline-block
    &__item
      display: inline-block
      margin-right s(8)
      &:last-child
        margin-right: 0
    &__link:before
      font-size 34px

/************************************\
		COMMENT
\************************************/

.comments__container
  width col(8,12)
  margin 0 auto
  padding-bottom s(200)

.comment
  margin-bottom s(30)
  &__header
    position: relative
    max-height s(30)
    &:after
      @extend .clearfix
  &__img
    float: left
    display: block
    border-radius 50%
    margin-right: s(30)
  &__name
    display: inline-block
    color $cBlack
    font-size s($sz8)
    text-transform: uppercase
    font-weight: 700
  &__date
    float: right;
    display: inline-block
    margin-left auto
    color $cGrey2
    font-size s($sz10)
  &__text
    max-width s(715, $sz7)
    margin 0 0 s(10, $sz7) s(95, $sz7)
    font-size s($sz7)
    line-height: 1.35em
  &__footer
    margin 0 0 s(35) s(95)
    &__respond
      font-size s($sz9)
      &:before
        display: inline-block
        margin-right s(10, $sz9)
        icon('response');


.comment--withoutImg
  & .comment
    &__header
      margin-bottom s(15)
    &__text
    &__footer
      margin-left: 0

.comment--2
  margin-left s(95)

.comment--3
  margin-left s(190)

.comment--3.comment--withoutImg
  margin-left s(285)


/************************************\
		FORM POST
\************************************/

.postComment
  &__section
    margin s(100) auto 0
    max-width 80%
  &__title
    font-size s($sz6)
    margin-bottom s(40, $sz6)
    font-weight 900
    text-transform: uppercase
    letter-spacing 1.4px
    color $cBlueTitles
  &__wrapper
    position: relative
    width: 48.47%
    &--1
      float: left
    &--2
      float: right
  &__input
    height: s(52);
    width: 100%
    display: block
    padding: 0 0.75em;
    color: $cBlack
    font-weight: 600;
    border: 1px solid $cWhite2;
    -webkit-appearance: none;
    transition .25s ease border
    &:focus
      border 1px solid $cGrey2
      transition .25s ease border
  &__label
    position: absolute
    top: s(17)
    padding: 0 0.75em;
    display: block;
    -webkit-transition: 0.3s ease all;
    transition: 0.3s ease all;
    -webkit-transition-property: top, font-size;
    transition-property: top, font-size;
  &__fieldset
    position: relative
    &:after
      @extend .clearfix
  &__textarea
    display: block
    width: 100%
    margin-top s(20)
    border: 1px solid $cWhite2;
    padding: s(50) 0.75em 0.75em 0.75em
    color: $cBlack
    font-weight: 600;
    line-height: 1.3em
    transition .25s ease border
    &:focus
      outline none
      border 1px solid $cGrey2
      transition .25s ease border
  &__wrapperTextarea
    position: relative
    &:before
      content ''
      position: absolute
      display: block
      top 1px
      width 100% - 1px
      height 40px
      background-color $cWhite
      margin-left: auto
      margin-right: auto
      left 0
      right: 0
  &__label--textarea
    top 5%
  &__submit
    margin-top s(20, $sz8)
    @extend .buttonLeftToRight
    position: relative
    font-size s($sz8)
    font-weight: 900
    letter-spacing 1.3px

.postComment__label.active
  top s(5, $sz9)
  font-size s($sz9)
  padding 0 s(12, $sz9)
  transition .3s ease all
  transition-property top, font-size
.postComment__label.active ~  .floatLabel
  padding-top s(12)
  line-height 0;


/************************************\
		STYLE ERRORS
\************************************/
.form-error
  display: block
  margin-top s(6)
  color $cError
  line-height 1.3em

.form-success
  margin-top s(20, $sz7)
  font-size s($sz7)
  color $cSuccess
  line-height: 1.3em
  letter-spacing .4px
  font-weight: 700


@media screen and (max-width 1024px)
  .postBlog
    .comments
      &__header
      &__container
        width: 100%
    .postComment__section
      width: 100%
      max-width none


@media screen and (max-width 650px)
  .postBlog
    .comments
      &__share
      &__count
        display: block
        float: none
      &__count
        margin-bottom s(25)

@media screen and (max-width 650px)
  .postBlog
    .comments
      margin-top: s(120)
      padding-top s(60)
      &__container
        padding-bottom s(100)
    .postComment__wrapper
      width: 100%
      &--1
        margin-bottom s(20)
    .postComment__title
      line-height: 1.2em
    .postComment__submit
      width: 100%
      padding s(25) 0

@media screen and (max-width 650px)
  .postBlog
    .comment__img
      display: none
    .comment__text
      max-width 100%
      margin 0
