.blog__container
  @extend .containerGridz

.blog-list
  max-width 801px
  display flex
  flex-wrap wrap
  justify-content space-between
  &__title
    @extend .titleExtraBold26
    color $cBlueTitles
    padding s(50, $sz5) 0 s(30, $sz5)
  & .blog-card
    margin-bottom s(85)

// Modernizez no-flexbox
.no-flexbox
  .blog-list
    &:after
      @extend .clearfix
    .blog-card
      float left
      margin-right s(85)
      &:nth-child(2n +2 )
        margin-right: 0

/************************************\
		ASIDE
\************************************/

.blog-aside
  width s(354)
  &__title
    @extend .hidden
  & section
    margin-bottom s(50)
    box-shadow 0 0 2px 0 rgba(169,169,169,0.50);



// Generic
.title-section-aside
  padding s(25) s(30)
  border-bottom 1px solid $cGrey-lineMenu2
  color $cBlueTitles
  font-size s($sz8)
  font-weight 900
  letter-spacing 1.31px
  text-transform uppercase

// Search
.blog-search
  background $cWhite
  &__title
    @extend .title-section-aside
  &__container-form
    padding s(25) s(30)
  &__form
    position: relative
    &:after
      @extend .clearfix
  &__label
    position absolute
    top 35%
    padding 0 s(12)
    display: block
    transition .3s ease all
    transition-property top, font-size
  &__input
    height 52px
    width 80%
    padding 0 s(12)
    color $cBlack
    font-weight 600
    border 1px solid $cWhite2
    border-right none
    -webkit-appearance: none;
  &__submit
    position: relative
    display: block
    float: right
    height s(52)
    background-color $cBlueCiel
    width 20%
    &:before
      position: relative
      icon('glass')
      color $cWhite
      z-index 3
    &:after
      content ''
      display inline-block
      position: absolute
      top: 0
      left: 0
      width 0%
      height 100%
      background-color $cBlueCiel + 15%
      transition .3s ease width
      z-index 2
    &:hover:after
      width 100%
      transition .3s ease width
    & span
      @extend .hidden

// Search effect on click
.float
  .blog-search__label
    top 12%
    font-size s($sz9)
    padding 0 s(12, $sz9)
    transition .3s ease all
    transition-property top, font-size
  .blog-search__input
    padding-top s(12)
    line-height 0;

// Category
.blog-category
  background $cWhite
  &__title
    @extend .title-section-aside
  &__list
    height s(69)
    padding s(25) s(30)
    overflow hidden
    border-bottom 1px solid $cGrey-lineMenu2
    cursor pointer
    transition .3s ease height
  &__main-item
    position: relative
    display: block
    margin-bottom s(25, $sz10)
    font-size s($sz10)
    font-weight: 700
    color $cBlue1
    text-transform: uppercase
    letter-spacing 1px
    & span
      position: relative
      color $cBlue1
      &:before
      &:after
        content ''
        position: absolute
        right: -23px
        top: 51%
        height: 2px
        width: 9px
        background: $cBlueTitles
        backface-visibility: hidden
        transition-property: transform
        transition-duration: 0.2s
      &:before
        transform: rotate(45deg);
        right: -18px;
      &:after
        transform: rotate(-45deg);
    &:before
      content ''
      position: relative
      top -1px
      display: inline-block
      width s(8, $sz10)
      height s(8, $sz10)
      margin-right s(7, $sz10)
      border-radius 50%
      background grey
    &--web:before
      background $cBlueWeb
    &--2D:before
      background $cPinkDG
    &--3D:before
      background $cGreen3D

.blog-category__list:hover
.blog-category__list:focus
  background $cGrey4
  transition .3s ease all
.blog-category__list.triggerOpen:hover
.blog-category__list.triggerOpen:focus
  background $cWhite

.triggerOpen .blog-category__main-item span:before
  content ''
  transform: rotate(-45deg)
.triggerOpen .blog-category__main-item span:after
  content ''
  transform: rotate(45deg)


.blog-category
  &__sublist
    padding-bottom s(25)
  &__subitem
    display: block
    margin-bottom s(10)
    color $cBlueCiel
    margin-left s(15)
    transition .25s ease transform
    transition .2s ease all
    transition-property transform, color
    &:before
      position: relative
      top -1px
      icon('arrow-right');
      font-size 10px
      margin-right s(8, 10)
    &:hover
    &:focus
      transform translateX(4px)
      color $cBlack
      transition .2s ease all
      transition-property transform, color
