.blog__container
  @extend .containerGridz
  &:after
    @extend .clearfix
.blog-list__container
  position relative
  float left
  max-width s(800)
  @media screen and (max-width 1260px)
    max-width s(735)
  @media screen and (max-width 1186px)
    margin 0 auto
    float: none
  &:after
    @extend .clearfix

.blog-list
  &:after
    @extend .clearfix
  .blog-card
    float left
    margin-right s(85)
    &:nth-child(2n +2 )
      margin-right: 0

  &__title
    @extend .titleExtraBold26
    color $cBlueTitles
    padding s(50, $sz5) 0 s(30, $sz5)
    & strong
      font-size inherit
      display: inline-block
      padding 10px 15px
      color $cBlueCiel
      background-color $cWhite
  & .blog-card
    margin-bottom s(85)
  &__result
    display: block
    margin-top s(15, $sz5)
    & strong
      display: inline-block
      padding 10px 15px
      color $cBlueCiel
      background-color $cWhite

.no-articles
  font-size s($sz6)
  line-height: 1.62em
  & a
    font-size inherit
    @extend .linkInText

// Modernizez no-flexbox
.no-flexbox
  .blog-list
    &:after
      @extend .clearfix
    .blog-card
      float left
      margin-right s(85)
      &:nth-child(2n +2 )
        margin-right: 0


