/node_modules
/public/storage
/public/hot
/storage/*.key
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
.DS_Store
/resources
/design
/ecoleinfographie/app/Analytics
/ecoleinfographie/storage/app/analytics/service-account-credentials.json
