.home
  .intro
    box-sizing content-box
    padding s(150, 16) s($paddingSideGlobal, 16) 0
    background-color $cWhite
    z-index 1
    overflow hidden
    clearfix(both)
    &__content
      float left
      width col(5, $ws_iGridzColumns)
      clearfix(both)
    &__title
      max-width s(375, $text-bigTitleHome)
      margin-bottom s(30, $text-bigTitleHome)
      Catamaran($text-bigTitleHome, 16, 700, 1.1)
      color $cBlueTitles
      letter-spacing 1.25px
    &__text
      margin-bottom s(50, 16)
      Catamaran($text-L, 16, 400, 1.6)
    &__link
      @extend .linkArrowLarge
      margin-bottom s(20, $text-L)

    &__img
      float right
      max-width 100%
      height auto
