.home
  .location
    position: relative
    min-height s(300)
    containerGridz()
    margin-bottom s(150)
    &__wrapper
      position: absolute
      height 100%
      left 0
      right: -9999px
      margin-left col(2, $ws_iGridzColumns) + gutter(12)
      padding s(70, 16) s(100, 16)
      background $cBlueTitles
      clearfix()
    &__title
      float: left
      position: relative
      max-width s(180, $text-XXXL)
      Catamaran($text-XXXL, 16, 700, 1.1)
      color $cWhite
      z-index 1
      &:after
        content ''
        position: absolute
        top: 48px
        left: -28px
        display: inline-block
        width 124px
        height 60px
        border 5px solid #5F7691
        z-index -1

    &__address
    &__link
    &__tel
    &__mail
      Catamaran($text-L, 16, 400, 1.6)
      color $cWhite
      transition .2s ease opacity
    &__link
    &__tel
    &__mail
      &:hover
      &:focus
        transition .3s ease opacity
        opacity 0.6
    &__address-wrapper
      float: left
      margin-left s(159, $text-L)
    &__address
      margin-bottom s(20, $text-L)
    &__link
      &:after
        icon('location')
        font-size s(12, $text-L)
        margin-left s(10, 12)
    &__coordinates
      float: left
      margin-left s(182, $text-L)
    &__tel
    &__mail
      display: block
    &__tel
      &:after
        icon('phone')
        font-size s(13, $text-L)
        margin-left s(10, 13)
    &__mail
      margin-bottom s(58, $text-L)
      &:after
        icon('mail')
        font-size s(10, $text-L)
        margin-left s(10, 10)
    &__social-link
      display: inline-block
      margin-right s(5)
      outline none
    &__social span
      hidden()
    &__social-link svg .circle-hover
      opacity 0
      transform translate(17.5px, 17.5px) scale(0)
      transition .3s ease all
      transition-property opacity, transform
    &__social-link:hover svg .circle-hover
    &__social-link:focus svg .circle-hover
      opacity 1
      transform translate(17.5px, 17.5px) scale(32)
      transition .3s ease all
      transition-property opacity, transform
    &__social-link:hover svg g
    &__social-link:focus svg g
    &__social-link:hover svg path
    &__social-link:focus svg path
      fill $cBlueTitles
      transition .4s ease fill
