.home
  .news-home
    position: relative
    containerGridz()
    box-sizing content-box
    padding 0 s($paddingSideGlobal)
    margin-bottom s(310)
    &__img
      position: relative
      overflow hidden
      /*width col(7,$ws_iGridzColumns) + gutter(12)*/
      max-width 735px
      height auto
    &__wrap-text
      position: absolute
      top: s(50)
      right: s(50)
      max-width col(6,$ws_iGridzColumns)
      background-color $cBackgroundBlueGrey
      padding s(40) s(65) s(90)
    &__category
      CategoryStyle()
      margin-bottom s(40, 13)
      background-color $cSchool
    &__title-wrap
      position: absolute
      right: 0
      left s(-70)
    &__title
      position relative
      background-color $cWhite
      min-height s(120)
      padding 0 s(33)
      & span
        position: absolute
        top: 50%
        transform: translateY(-50%)
        @extend .titleXXL
        color $cBlueTitles
        letter-spacing 0.75px
    &__excerpt
      @extend .paragraph21
      margin-top s(155, $text-L)
      max-width s(445, $text-L)
    &__link
      position: absolute
      bottom -20px
      right -30px
      @extend .buttonLeftToRight
