.home
  .pros-home
    position: relative
    box-sizing initial;
    padding s(150) s($paddingSideGlobal)
    background-color #FFF
    margin-top s(-300)
    z-index 8
    &__container
      max-width s(861)
      margin: 0 auto
    &__title
      @extend .title51
      width col(8,12)
      margin: 0 auto s(40, $text-bigTitleHome)
      color $cBlueTitles
      letter-spacing 1.5px
      text-align: center
    &__text
      @extend .paragraph21
      text-align: center
      width 90%
      margin: 0 auto s(100, $text-L) auto

/************************************\
		slider-pros
\************************************/
.home
  .slider-pros
    &__wrapper
      position: relative
      max-width s(861)
      min-height s(500)
      margin: 0 auto
      z-index 2
    &__bg
      min-height s(511)
      width 67.363530778%
      position absolute
      top 0
      z-index 11
      right 0%
      background-color $cBackgroundBlueGrey
      min-height 500px
    &__article
      position absolute
      top 0
      right 0
      left 0
      margin 0
      height 100%
      min-height 500px
      overflow hidden
    &__description
      width 67.363530778%
      float: right
      position: relative
      top s(50)
      //overflow: hidden;
      &:after
        content ''
        display: block
        position: absolute
        bottom: s(-45)
        left: 0
        right: 0
        height 50px
        z-index 13
        background-color $cWhite
      &:before
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transform: skewY(-4.5deg);
        transform-origin: 100% 0;
        bottom: 0;
        background-color: $cBackgroundBlueGrey
        z-index -1
      //z-index 12
      &__inside
        padding: s(75) s(50) s(80) s(132)
        right: 0;
        transform: translate3d(0,0,0);
        //background $cBackgroundBlueGrey
      &__title
        @extend .titleXXL
        letter-spacing 1px
        margin-bottom s(5, $text-XXL)
      &__subtitle
        @extend .paragraph21
        line-height: 1.1
        display: block
        margin-bottom s(20, $text-L)
        & a
          font-size: s($text-L, $text-L)
          line-height: 1.1
          color $cBlueCiel
          &:hover
          &:focus
            text-decoration underline
      &__link
        position: absolute
        bottom: s(-20)
        right s(30)
        buttonLeftToRight($sz-textSL)
        z-index 300
      &__excerpt
        @extend .paragraph18
    &__image
      width 39.256678281%
      position: absolute
      top: s(0)
      z-index 250
      overflow: hidden
      &:before
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        transform: skewY(4.5deg);
        transform-origin: 100% 0;
        bottom: s(330);
        background-color: $cWhite
        z-index 1

/************************************\
  BUTTONS LEFT AND RIGHT POSITION
\************************************/
.slider-pros-buttons
  position: absolute
  top: s(50)
  right: s(-68)
  .slideButtons__next
  .slideButtons__pref
    display: block
  .slideButtons__next
    margin-bottom: s(4)


/************************************\
      DOTS POSITION
\************************************/
.slider-pros-dots
  position: absolute
  bottom: s(90)
  left: 8.5%
  margin-bottom: 0
  z-index 600



/************************************\
      CORE ANIMATION
\************************************/

.slider-pros__article--anim
  & .slider-pros__description__inside
    transition: transform .2s cubic-bezier(.25, .46, .45, .94)
  & .slider-pros__image img
    transition: transform .4s cubic-bezier(.25, .46, .45, .94)


.slider-pros__article--active
  visibility visible
  & .slider-pros__description__inside
    position: relative
    z-index 200
    transform: translate3d(0, 0, 0)
  & .slider-pros__image
    z-index 500
  & .slider-pros__image img
    transform: translate3d(0, 0, 0)


.slider-pros__article--hidden
  visibility hidden
  & .slider-pros__description__inside
    opacity 0
    transform translate3D(-100%, 0, 0)
    transition .4s ease all
  & .slider-pros__image img
    transform translate3D(-100%,0,0)
    transition .4s cubic-bezier(.25, .46, .45, .94)


.slider-pros__article--right
  & .slider-pros__description__inside
    opacity 0
    transform translate3D(100%, 0, 0)
    transition .4s ease all
  & .slider-pros__image img
    transform translate3D(100%, 0, 0)


.slider-pros__article--left
  & .slider-pros__description__inside
    opacity 0
    transform translate3D(100%, 0, 0)
    transition .4s ease all
  & .slider-pros__image img
    transform translate3D(100%, 0, 0)

