.home
  .pros-home
    position: relative
    top s(-301)
    box-sizing initial;
    padding s(100) s($paddingSideGlobal)
    background-color #FFF
    z-index 8
    &__container
      max-width s(861)
      margin: 0 auto
    &__title
      Catamaran($text-bigTitleHome, 16, 700, 1.1)
      width col(8,12)
      margin: 0 auto s(40, $text-bigTitleHome)
      color $cBlueTitles
      letter-spacing 1.5px
      text-align: center
    &__text
      Catamaran($text-L, 16, 400, 1.6)
      text-align: center
      width 90%
      margin: 0 auto
