.home
  .sliderBlog
    &-section
      containerGridz()
      position: relative
      z-index 10
      &__title
        margin-bottom s(100)
        text-align center
      &__title--hidden
        hidden()
      &__title--display
        position: relative
        display: inline-block
        Catamaran($text-XXXL, 16, 700, 1)
        color $cBlueTitles
        &::first-letter
          text-transform: uppercase
        &:before
          content ""
          position: absolute
          left s(-55, $text-XXXL)
          top s(-20, $text-XXXL)
          display inline-block
          width s(178, $text-XXXL)
          height s(94, $text-XXXL)
          border 5px solid $cGreyLight
          z-index -1

.sliderBlog
  position: relative
  width 100%
  margin 0 auto
  clearfix()
  background-color $cWhite
  border 1px solid lightgrey
  margin-bottom s(40)
  &__imgWrapper
    position: absolute
    float: left
    top 0
    width 50%
    height 100%
    background-position center center
    background-size cover
    &__img
      display: block
  &__contentWrapper
    float: right
    max-width 50%
    height: 100%
    padding s(50) s(65)
  &__category
    CategoryStyle()
    background-color $cBlueWeb
    margin-bottom s(40)
  &__title
    Catamaran($text-XXL, 16, 700, 1.2)
    color $cBlueTitles
    letter-spacing 0.75px
    margin-bottom s(33, $text-XXL)
  &__excerpt
    Catamaran($text-L, 16, 400, 1.6)
  &__link
    position: absolute;
    cover()
    text-indent: -9999px;
    z-index: 13;

.home
  .sliderBlog
    &__dots-wrapper
      text-align: center
      margin-bottom s(-200)
    &__dots-list
      position: relative
      display inline-block
      margin 0
      padding 0
      list-style none
      cursor default
      user-select none
    &__dots-item
      position relative
      display block
      float left
      margin 0 s(12)
      width s(22)
      height s(22)
      cursor pointer
    &__dots-item__dot
      position absolute
      top 0
      left 0
      width 100%
      height 100%
      outline none
      border-radius 50px
      background-color $cBlueCiel
      background-color rgba(19, 106, 128, 0.3)
      text-indent -9999px
      cursor pointer
      background-color transparent
      box-shadow inset 0 0 0 2px $cBlueCiel
      transform translateZ(0)
      transition .3s ease all
      transition-property transform, box-shadow
      &:hover
      &:focus
        box-shadow: inset 0 0 0 2px rgba(19, 106, 128, 0.6)
    &__dots-item.current .sliderBlog__dots-item__dot
      transition .6s ease all
      transition-property transform, box-shadow
      transform translateZ(0)
      box-shadow inset 0 0 0 22px $cBlueCiel

// Slider Position
.home
  .sliderBlog-wrapper
    position: relative
    min-height s(481)
    max-width col(10,12) + gutter(12) + gutter(12)
    margin: 0 auto
    overflow hidden
    margin-bottom s(40)
  .sliderBlog-list
    position: absolute
    top: 0
    right: 0
    width 100%
    height 100%
  .sliderBlog-item
    position: absolute
    top 0
    left 0
    float left
    transition .4s ease-in-out transform
  .sliderBlog-item--2
    transform translateX(100%)
  .sliderBlog-item--3
    transform translateX(200%)


// Buttons left and right
  .sliderBlog
    &__buttons
      position: absolute
      display: inline-block
      right: s(18)
      z-index 2
    &__left
    &__right
      position: relative
      display: block
      width s(45)
      height s(45)
      border-radius 50%
      border 2px solid rgba($cBlueCiel, .5)
      overflow hidden
      cursor pointer
      transition .3s ease border
      &:focus
      &:hover
        outline 0
        border 2px solid rgba($cBlueCiel, 1)
        background-color $cBlueCiel
        transition .3s ease all
        transition-property background-color, border
      & span
        hidden()
    &__right
      margin-bottom s(10)
    &__left:before
      icon('arrow-left')
    &__right:before
      icon('arrow-right')
    &__left:before
    &__right:before
      color $cBlueCiel
      transition .2s ease color
    &__left:hover:before
    &__left:focus:before
    &__right:hover:before
    &__right:focus:before
      color $cWhite
      transition .3s ease color

/************************************\
		NO-JS
\************************************/
.no-js
  .home
    .sliderBlog
      &-section
        clearfix()
      &-wrapper
        overflow: visible
        min-height s(1530)
      &-item
        position: static
        transform none
      &__buttons
        display: none
      &__dots-wrapper
        display: none

