/************************************\
      STYLE FOR LINKS + ARROW
\************************************/
.linkArrowLarge
  display: inline-block
  font-size s($text-L)
  font-weight 600
  line-height 1.2
  color $cBlueCiel
  letter-spacing 0.3px
  transition .2s ease color
  &:after
    icon('arrow-right')
    display inline-block
    font-size s(12, $text-L)
    margin-left  s(10, 12)
    transition .2s ease transform
  &:hover
  &:focus
    color $cBlack
    transition .3s ease color
    outline none
  &:hover:after
  &:focus:after
    transform translateX(s(4, 12))
    transition .3s ease transform


/************************************\
		STYLE FOR CTA
\************************************/

.buttonLeftToRight
  position: absolute
  display: inline-block
  font-weight bold
  font-size s($text-L)
  font-weight 700
  padding s(18, $text-L) s(57, $text-L)
  background-color $cBlueCiel
  color $cWhite
  text-transform: uppercase
  letter-spacing 1px
  z-index 1
  &:before
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $cBlueCiel + 15%
    z-index: -1;
    transition .3s width;
  &:hover:before
  &:focus:before
    width 100%
  & span
    @extend .hidden
