/************************************\
      STYLE FOR LINKS + ARROW
\************************************/
.linkArrowLarge
  display: inline-block
  font-size s($text-L)
  font-weight 600
  line-height 1.2
  color $cBlueCiel
  letter-spacing 0.3px
  transition .2s ease color
  &:after
    icon('arrow-right')
    display inline-block
    font-size s(12, $text-L)
    margin-left  s(10, 12)
    transition .2s ease transform
  &:hover
  &:focus
    color $cBlack
    transition .3s ease color
    outline none
  &:hover:after
  &:focus:after
    transform translateX(s(4, 12))
    transition .3s ease transform


/************************************\
		STYLE FOR CTA
\************************************/

.buttonLeftToRight
  position: relative
  display: inline-block
  font-weight bold
  font-size s($sz10)
  font-weight 900
  padding s(25, $sz10) s(45, $sz10)
  background-color $cBlueCiel
  color $cWhite
  text-transform: uppercase
  letter-spacing 1.15px
  z-index 1
  &:before
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $cBlueCiel + 15%
    z-index: -1;
    transition .3s width;
  &:hover:before
  &:focus:before
    width 100%
  & span
    @extend .hidden

/************************************\
		LINKS IN TEXT
\************************************/

.linkInText
  position: relative
  display: inline-block
  font-size: inherit
  letter-spacing inherit
  color $cBlueCiel
  font-weight: 600
  cursor pointer
  &:hover:after
  &:focus:after
    width 100%
    transition .2s $ease-out-quart width
  &:after
    content ''
    position absolute
    left: 0
    bottom: 2px
    display: inline-block
    width 0%
    height 2px
    background-color $cBlueCiel
    transition .2s $ease-out-quart width

.buttonLeftToRightBlack
  position: relative
  display: inline-block
  font-weight 900
  font-size s($sz10)
  padding s(25, $sz10) s(45, $sz10)
  background-color $cBlueCiel
  color $cWhite
  text-transform: uppercase
  letter-spacing 1.15px
  z-index: 1
  & span
    display: inline-block
    color $cWhite
  &:before
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: $cBlueCiel + 15%
    z-index: -1;
    transition .3s width;
  &:hover:before
  &:focus:before
    width 100%

/************************************\
		CATEGORY STYLE
\************************************/
.categoryLink
  display: inline-block
  font-size s(13)
  font-weight 600
  color $cWhite
  text-transform: uppercase
  letter-spacing 0.75px
  padding s(9, 13) s(30, 13)
  border-radius 17px 0 17px 0
  overflow hidden
  &:before
    content: '';
    position: absolute;
    width: 0%;
    height: 100%;
    top: 0;
    left: 0;
    background: red + 15%
    z-index: -1;
    transition .3s width;
  &:hover:before
  &:focus:before
    width 100%
