/************************************\
      STYLES FOR PARAGRAPH
\************************************/
.paragraph21
  font-size s($text-L)
  line-height 1.62em

.paragraph18
  font-size s($sz-textSL)
  line-height 1.62em
