/************************************\
      STYLES FOR PARAGRAPH
\************************************/
.paragraph21
  font-size s($text-L)
  line-height 1.62em
  @media screen and (max-width 550px)
    font-size s(18)

.paragraph18
  font-size s($sz-textSL)
  line-height 1.62em
