/************************************\
		STYLES FOR TITLES
\************************************/

.title-bigTitleHome
  font-size s($text-bigTitleHome)
  line-height 1.1
  letter-spacing 1.25px
  font-weight 700
  color $cBlueTitles

.title51
  font-size s($text-bigTitleHome)
  line-height 1.1
  letter-spacing 1.25px
  font-weight 700
  color $cBlueTitles


.titleXXXL
  font-size s($text-XXXL)
  line-height 1.1
  letter-spacing 1px
  font-weight 700
  color $cBlueTitles
  @media screen and (max-width 550px)
    font-size s($sz5)

.titleXXL // 33.2
  font-size s($text-XXL)
  line-height 1.1
  letter-spacing 0.75px
  font-weight 700
  color $cBlueTitles
  @media screen and (max-width 550px)
    font-size s($sz5)

.title4
  font-size s($sz4)
  line-height 1.1
  letter-spacing 0.75px
  font-weight 700
  color $cBlueTitles
.titleXL
  font-size s($text-XL)
  line-height 1.1
  letter-spacing .75px
  font-weight 700
  color $cBlueTitles

.titleDubbleLine
  & span
    font-size: s($sz5)
    color: $cBlueTitles
    text-transform: uppercase
  & strong
    display: block
    margin-top s(5, $sz4)
    font-size: s($sz4)
    font-weight: 900
    color: $cBlueTitles
    text-transform: uppercase
    letter-spacing: 0.5px
    line-height: 1.2em
    @media screen and (max-width 550px)
      font-size s($sz4)
    &:after
      content ''
      display: block
      width s(40, $sz4)
      height s(5, $sz4)
      margin s(15, $sz4) 0 s(50, $sz4)
      background-color $cBorderTitles;

.titleOneLine
  @extend .title4
  &:after
    content ''
    display: block
    width s(40, $sz4)
    height s(5, $sz4)
    margin s(10, $sz4) 0 s(40, $sz4)
    background-color $cBorderTitles;

.titleExtraBold // 21px
  font-size: s($sz6);
  font-weight 900
  letter-spacing 1.63px
  text-transform: uppercase
  margin-bottom s(30, $sz6)
  &:after
    content ''
    display: block
    width s(45, $sz6)
    height s(5, $sz6)
    background $cBorderTitles
    margin-top s(11, $sz6)

.titleExtraBold26 // 26px
  font-size: s($sz5);
  font-weight 900
  letter-spacing 1.63px
  text-transform: uppercase
  margin-bottom s(30, $sz5)
  &:after
    content ''
    display: block
    width s(45, $sz5)
    height s(5, $sz5)
    background $cBorderTitles
    margin-top s(11, $sz5)

.titleExtraBold33 // 26px
  font-size: s($sz4);
  font-weight 900
  letter-spacing 1.63px
  text-transform: uppercase
  margin-bottom s(30, $sz5)
  &:after
    content ''
    display: block
    width s(45, $sz4)
    height s(5, $sz4)
    background $cBorderTitles
    margin-top s(11, $sz4)
