/************************************\
		STYLES FOR TITLES
\************************************/

.title51
  font-size s(51.88)
  line-height 1.1
  letter-spacing 1.25px
  font-weight 700
  color $cBlueTitles

.titleXXXL
  font-size s($text-XXXL)
  line-height 1.1
  letter-spacing 1px
  font-weight 700
  color $cBlueTitles

.titleXXL
  font-size s($text-XXL)
  line-height 1.1
  letter-spacing 0.75px
  font-weight 700
  color $cBlueTitles

.titleXL
  font-size s($text-XL)
  line-height 1.1
  letter-spacing .75px
  font-weight 700
  color $cBlueTitles
