// Cover an object with position absolute
.cover
  position absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

// Hidden text
.hidden
  position: absolute
  top: -99999px
  left: -99999px


.clearfix
  content: ""
  display: block
  clear: both

// Shawl // In before or after
.baseshawl
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: s(-1px);
  transform: skewY(-4.5deg);
  transform-origin: 0% 0;
  background-color: #f3f3f7;
  z-index: -1;


// Container
.containerGridz
  max-width s($ws_sGridzTotalWidth, 16)
  margin 0 auto
  box-sizing content-box
