// Cover an object with position absolute
.cover
  position absolute
  top: 0
  bottom: 0
  right: 0
  left: 0

// Hidden text
.hidden
  position: absolute
  top: -99999px
  left: -99999px

// Container
.containerGridz
  max-width s($ws_sGridzTotalWidth, 16)
  margin 0 auto
  box-sizing content-box
