.web-what
.webdesigner
.webintegrator
  position relative
  &__wrapper
    position: relative
    @extend .containerGridz
    padding 0 s($paddingSideGlobal)
    clearfix(right)
  &__title
    @extend .titleXXXL
    margin-bottom s(30, $text-XXXL)
  &__text
    @extend .paragraph21
  &__link
    @extend .linkArrowLarge
    margin-top s(50, $text-L)

.web-what
  min-height s(850)
  &__wrapper
    &-text
      float: right
      width 45%
      margin-top s(380)
  &__title
    & span
      @extend .hidden
    & svg
      position: relative
      top s(7)
      left s(5)
  &__img
    position: absolute
    top: s(-50)
    left s(-250)
    z-index 10

.webdesigner
  min-height s(740)
  background-color $cBackgroundBlueGrey
  margin-bottom s(250)
  baseShawl($cBackgroundBlueGrey, 4.5deg)
  &__wrapper-text
    float: left
    width 36%
    margin-top s(200)
  &__img
    position: absolute
    right: s(-150)
    top s(170)

.webintegrator
  min-height s(740)
  &__wrapper-text
    position: relative
    float: right
    max-width s(560)
    margin-top s(35)
    text-align: right
    z-index 3
  &__img
    position: absolute
    left: s(-350)
    top s(-50)
    z-index 1
    max-width none
  &__img--2
    position: absolute
    top s(270)
    left s(165)
    z-index 2


