/* colors style
* by Jimmy Letecheur
*/

$cWhite = #FFF
$cWhite2 = #D2D2D2
$cBlack = #353D47

$cBlueTitles = #243D59

$cBlueWeb = #004A8C
$cPinkDG = #D81B60
$cGreen3D = #00796B
$cSchool = #9B9B9B


$cBlueGreyLight = #F5F5FA
$cBackgroundBlueGrey = #F3F3F7
$cBackgroundGrey = #F7F7F9
$cBackgroundGrey2 = #F5F5F4
$cBlueCiel = #136A8A
$cGreen = #267871

$cGrey-lineMenu = #D5D5D9
$cText-greyblue = #566273

$cGreyLight = #F4F4F5
$cGreyFooter = #E9E9E9

$cBlue1 = #004966
$cBlue2 = #69788Cnon

$cGrey1 = #DADADA
$cGrey2 = #9B9B9B
$cGrey3 = #E1E1E1

$cBorderTitles = #4E6177



/* Social Colors */
$cFacebook = #3b5998
$cTwitter = #55acee
$cPinterest = #cb2027
$cBehance = #1769ff
$cDribble = #ea4c89
$cYoutube = #cd201f
$cVimeo = #1ab7ea
$cLinkedin = #0077B5
$cPortfolio = #E69A20
