// Text
$sz-menu = 18
$sz-buttons = 18
$sz-textS = 17
$sz-textSL = 18
$text-XXXXL = 64.85
$text-bigTitleHome = 51.88
$text-XXXL = 41.5
$text-XXL = 33.2
$text-XL = 26.56
$text-L = 21.25

$sz1 = 64.85
$sz2 = 51.88
$sz4 = 33.2
$sz5 = 26.56
$sz6 = 21.25
$sz8 = 17
$sz9 = 13

$paddingSideGlobal = 40

.containerGridz
  containerGridz()
  padding 0 40px
  box-sizing content-box

// GridzWidth
containerGridz()
  max-width s($ws_sGridzTotalWidth, 16)
  margin 0 auto

$paddingSideGlobal = 40



