.header-shawl
  min-height s(800,16)
  padding s(35, 16) s(40,16) 0 s(40,16)
.header
  position: relative
  &__wrapper
    max-width s($ws_sGridzTotalWidth, 16)
    margin 0 auto
    clearfix(both)
  & .nav
    float: right

