.news-card
  position: relative
  margin-bottom s(120)
  min-height s(500)
  max-width s(1050)
  margin-right auto
  &:last-child
    margin-bottom 0
  &__content
    background $cWhite
    width col(7,12) + gutter(12)
    min-height s(415)
    padding s(50) col(1,12)
    width s(735)
  &__title
    width 68.144% // 385px
    margin-bottom s(35, $sz4)
    font-size s($sz4)
    line-height: 1.1em
    letter-spacing 2px
    color $cBlueTitles
    font-weight 900
  &__excerpt
    width 68.144% // 385px
    font-size s($sz8)
    line-height: 1.62em
    margin-bottom s(30, $sz8)
  &__fakelink
    @extend .linkArrowLarge
    font-size s($sz8)
    cursor pointer
    &:after
      font-size s(12, $sz8)
  &__image
    position absolute
    top s(50)
    right s(12)
    transition .3s ease right
  &__time
    position: absolute
    bottom s(25)
    right: 0
    padding s(14) s(15)
    display: inline-block
    background $cWhite
    color $cBlueTitles
    font-size s($sz8)
    font-weight bold
    transition .3s ease right
  &__link
    @extend .cover
    z-index 2
    & span
      @extend .hidden

.news-card:nth-child(even)
  margin-left auto
  .news-card
    &__content
      margin-left auto
    &__title
    &__excerpt
    &__fakelink
      display: block
      text-align: right
      margin-left auto
    &__image
      right auto
      left s(32)
      transition .3s ease left
    &__time
      right auto
      left 0
      transition .3s ease left

.news-card:hover .news-card__fakelink
.news-card:focus .news-card__fakelink
  color $cBlack
  transition .3s ease color
  outline none
  &:after
  &:after
    transform translateX(s(4, 12))
    transition .3s ease transform

.news-card:hover .news-card__image
  right s(32)
  transition .3s ease right
.news-card:hover .news-card__time
  right s(-20)
  left auto
  transition .3s ease right

.news-card:nth-child(even):hover .news-card__image
  left s(52)
  transition .3s ease left
.news-card:nth-child(even):hover .news-card__time
  right auto
  left s(-20)
  transition .3s ease left


/************************************\
		RESPONSIVE
\************************************/
@media screen and (max-width: 1030px)
  .news
    .featured
      left s(20)
      right s(20)
      &__figure
        width 38%
    .breadcrumb--header
      left s(20)
    .news-card
      &__image
        display: none
      &__content
        width: 100%

@media screen and (max-width: 950px)
  .news
    .featured
      &__figure
        display: none
      &__content
        width: 100%

@media screen and (max-width: 550px)
  .news
    .featured
      padding s(50) s(30)
      text-align: center
      &__date
        text-align: center
      &__title
        font-size s($sz5)
    .header-news
      min-height s(700)
    .breadcrumb--header
      top 18%
      left: 0
      right: 0
      text-align: center

@media screen and (max-width: 550px)
  .news
    .featured
      padding s(30) s(20)
      left s(10)
      right s(10)

@media screen and (max-width: 1150px)
  .news
    .news-card
      &__image
        top -15px
      &__content
        width 70%

@media screen and (max-width: 1030px)
  .news
    .news-card
      min-height 0
      margin-bottom s(50)
      &__image
        display: none
      &__content
        width: 100%
        min-height 0
      &__title
        width: 100%
        text-align: center
      &__excerpt
        width: 100%
        text-align: center
      &__fakelink
        display: block
        text-align: center
      &:nth-child(even)
        .news-card__title
        .news-card__content
        .news-card__excerpt
        .news-card__fakelink
          display: block
          text-align: center
    .blog-pagination
      width: 100%
      max-width none
      &__button
        border none
        width: 50%
        &--prev
          border-right 1px solid $cBackgroundGrey2

      &__list
        display: none

