.news
  background-color $cBackgroundGrey2
  .container
  .container:before
    background-color $cBackgroundGrey2

.news
  &-container
    @extend .containerGridz
    padding-top s(150)
    @media screen and (max-width 1024px)
      padding s(150) s(20) 0
  .blog-pagination
    margin 0 auto
