.breadcrumb
  padding-top s(45)
  &__title
    @extend .hidden
  &__item
    display: inline-block
    &:after
      icon('chevron-right')
      font-size 8px
      margin 0 s(10, 8)
      color $cBlueCiel
  &__item:last-child:after
    display: none
  &__link--home
    &:before
      icon('house')
      font-size 14px
      color $cBlueCiel
      transition .2s ease color
    &:hover:before
    &:focus:before
      color $cBlueCiel
      transition .3s ease color
    & span
      @extend .hidden
  &__link
    line-height 1.6em
    & span
      font-size s($sz9)
      font-weight: 500
  &__link--active span
    color $cBlack

.breadcrumb
  @extend .containerGridz

/************************************\
        Breadcrumb_large
\************************************/
.breadcrumb.breadcrumb--header
  position: absolute
  top 30%
  padding 0
  & .breadcrumb__link--home
      &:before
        color rgba(255,255,255,1)
      &:hover:before
      &:focus:before
        color rgba(255,255,255,1)
      &:after
        color rgba(255,255,255,.75)
  & .breadcrumb__link span
    letter-spacing 0.4px
  & .breadcrumb__link--active span
    color $cWhite

.breadcrumb.breadcrumb--header
  .breadcrumb__item:after
    color $cWhite
