.redirect
  @extend .containerGridz
  margin-top s(150)
  @media screen and (max-width 768px)
    text-align: center
    margin-top: s(100)
    padding 0 s(20)
  &__title
    display: block
    @extend .titleXXL
    font-weight 600
    max-width s(790, $text-XXL)
    letter-spacing 0
    line-height: 1.4
    margin-bottom s(30)
    @media screen and (max-width 768px)
      font-size s($sz5)
      max-width none
  &__link
    @extend .linkArrowLarge
    margin-bottom s(15)
