.footer__container
  background-color $cBlueTitles
  margin-top s(200)
.footer__wrapper
  clearfix()
.footer
  @extend .containerGridz
  padding s(100) s($paddingSideGlobal)
  @media screen and (max-width: 435px)
    padding s(50) s(20)
  &__header
    position: relative
    margin-bottom s(70)
    padding-bottom s(25)
    border-bottom 2px solid #718296
  & *
    color $cWhite
  &__title
    @extend .titleXXL
    max-width s(360, $text-XXL)
    line-height 1.3em
    @media screen and (max-width: 813px)
      max-width none
      & br
        display: none
    & span
      @extend .hidden

.footer
  .social
    position: absolute
    right 0
    bottom 0 + s(25)
    @media screen and (max-width: 990px)
      position static
      margin-top s(20)
    &__link span
        @extend .hidden
    &__item
      display: inline-block
      margin-right s(16)
      @media screen and (max-width: 435px)
        margin-right 0
      &:last-child
        margin-right 0
    &__link
      display: inline-block
      @media screen and (max-width: 435px)
        transform scale(0.8)
    &__link svg circle + circle
      fill #135777
      transform translate(26px, 26px) scale(6)
      transition .3s ease all
      transition-property opacity, transform
    &__link:hover svg circle + circle
      transform translate(26px, 26px) scale(47.5)
      fill $cBlueCiel + 15%
      transition .3s $ease-out-back all
      transition-property transform, fill, opacity

.footer .social__link--facebook:hover svg circle + circle
  fill $cFacebook
.footer .social__link--twitter:hover svg circle + circle
  fill $cTwitter
.footer .social__link--pinterest:hover svg circle + circle
  fill $cPinterest
.footer .social__link--behance:hover svg circle + circle
  fill $cBehance
.footer .social__link--dribble:hover svg circle + circle
  fill $cDribble

.footer
  .section
    position: relative
    width 33.3333%
    @media screen and (max-width: 760px)
      text-align: center
      width 100%
      margin-bottom s(50)
    &--contact
      float: left
      @media screen and (max-width: 760px)
        float: none
    &--explorez
      float: right
      width 33.3333%
      padding-left 11%
      @media screen and (max-width: 760px)
        width 100%
        float none
        padding-left: 0
    &--formations
      margin: 0 auto
    &__title
      @extend .titleXL
      color $cWhite
      margin-bottom s(30, $text-XL)

    &__link
      @extend .linkArrowLarge
      color $cGreyFooter
      font-weight: 400
      letter-spacing 0
      margin-bottom s(15, $text-L)
      transform translateX(0)
      transition .3s ease
      &:hover
      &:focus
        color $cWhite
        transform translateX(3px)
        transition .2s ease
    &__address
      margin-bottom s(35)
      @media screen and (max-width: 760px)
        margin-bottom s(15)
      span
        display: block
        font-size: s($text-L)
        margin-bottom s(15, $text-L)
        color $cGreyFooter
        & span
          display: inline-block
          font-size 21.25px
          margin-bottom: 0
    &__tel
    &__contact
      display: block
      font-size: s($text-L)
      margin-bottom s(15, $text-L)
      color $cGreyFooter
      transition .3s ease color
      &:before
        icon('phone')
        font-size: 15px;
        margin-right 10px
      &:hover
      &:focus
        color $cWhite
        transition .3s ease color
    &__contact:before
      icon('mail')
      display: inline-block
      font-size: 12px;
      position: relative
      top -2px
    &__cta
      buttonLeftToRight($sz-textS)
      background-color transparent
      border 2px solid $cWhite
      position: relative
      margin-top s(20)
      @media screen and (max-width: 1179px)
        padding 30px 25px
      @media screen and (max-width: 990px)
        max-width 180px
        line-height: 1.2em
      @media screen and (max-width: 760px)
        max-width none
        width: 100%
        margin-top 50px
      &:before
        background $cWhite
        opacity 0.2

.home .footer__container
  margin-top 0
