.former-students
  &__top-wrapper
    @extend .containerGridz
    position: relative
    z-index 10
    margin-top s(80)
    &:after
      @extend .clearfix
  &__img
    position: absolute
    width 47.81111111%
    left: s(40)
  &__text-wrapper
    float: right
    margin-top s(30)
    width col(7, 12)
    padding-left col(2,12)
    padding-bottom s(60)
    background-color $cWhite
  &__title
    @extend .titleDubbleLine
  &__text-intro
    @extend .paragraph21
    width 85%
    margin-bottom s(30, $sz6)
    &:last-child
      margin-bottom 0
      &:after
        content ''
        display block
        margin-top s(35, $sz6)
        width s(160, $sz6)
        height 1px
        background-color $cGreyFooter


.former-students
  &__content
    background-color $cBackgroundGrey
    position: relative
    padding s(360) 0 0
    margin-top -220px
    position: relative
    z-index 5
  &__list
    @extend .containerGridz




