body
  overflow hidden

baseShawl(backgroundColor, skew)
    background-color backgroundColor
    z-index 1
    &:before
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      transform: skewY(skew);
      transform-origin: 100% 0;
      bottom: -300%;
      background-color: backgroundColor
      z-index -1

.container
  position: relative
  baseShawl($cWhite, 4.5deg)
