.graduate
  background-color $cBackgroundGrey
  .header__wrapper
    position relative
  .breadcrumb.breadcrumb--header
    top 0
    margin-top s(192)
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

.graduateList
  max-width s(1070)
  margin: s(100) auto 0 auto
  padding 0 s($paddingSideGlobal)
  box-sizing content-box
  &__title
    @extend .titleExtraBold26
    color $cBlueTitles
  & .index-rea__filter
    padding-top: 3em
    padding-bottom: 5em
  & .former-students__list
    padding 0
  /*& .former-students__item
    margin-bottom: s(45)*/

.index-rea__filter__item.no-effect
  margin-left: s(29)
  &:after
  &:before
    display none

.graduate
  .former-students
    &__list
      &:before
      &:after
        content: '';
        display: table;
      &:after
        clear both

.wf-column
  float: left

&__item
      display: inline-block
      float none
      //margin-bottom: s(45)


/************************************\
		Style chosen select
\************************************/

.graduate
  .select-form
    position: relative
    top s(-3)
    .select-submit
      @extend .hidden
    .chosen-container
      width 140px
    .chosen-single
      background $cWhite
      height s(50)
      text-align: center
      & span
        display: inline-block
        text-align: center
        font-size s($sz8)
        font-weight 900
        text-transform: uppercase
        letter-spacing 1.2px
        line-height s(50, $sz8)
        &:after
          margin-left s(10, $sz8)
          position relative
          top 2px
          icon('triangle-double');
    .active-result
      font-size s($sz8)
      padding s(15, $sz8) 0
      font-weight 700
    .active-result.highlighted
      background-color $cGreyLight
    .chosen-results::-webkit-scrollbar
      width: 12px;
    .chosen-results::-webkit-scrollbar-thumb
      background-color $cBlueCiel
    .chosen-drop
      transform translateY(-10px)
      opacity 0
      transition .3s ease all
      transition-property transform, opacity

.graduate
  .chosen-with-drop
    .chosen-drop
      transform translateY(0)
      opacity 1
      transition .3s ease all
      transition-property transform, opacity


/************************************\
		NO-JS
\************************************/

.no-js
  .graduate
    .load-more
      display: none
    .select-submit
      position static


/************************************\
		RESPONSIVE
\************************************/
@media screen and (max-width: 750px)
  .graduateList
    padding s(0) s(20)
    .former-students__list
      width 100%
    .former-students
      &__item
        float none
        width: 100%
        margin-right 0
    .card_student
      width 100%
    .card_student__picture-wrapper
      height auto
    .card_student__picture
      position static
      width: 100%

