/************************************\
		header-shawl
\************************************/
.header-shawl
  background linear-gradient(138deg, rgba(12,81,107,0.92) 0%, rgba(5,43,56,0.96) 80%), url("../img/header-home-background.jpg") no-repeat center center/cover
  &__title
    position: absolute
    left: 0
    right: 0
    top 0
    height: 100%;
    margin-left: auto
    margin-right: auto
    text-align: center
    &__strong
    &__small
      position: absolute
      left: 0
      right: 0
      display block
      height: 100%;
      Catamaran($text-XXXXL, 16, 700, 1.1)
      background url("../img/header-home-background.jpg") no-repeat center center/cover
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
      transform translateZ(0)
      filter: brightness(1.3);
    &__strong
      padding-top 250px
      margin-bottom s(30, 64.85)
      letter-spacing 2px
    &__small
      font-weight 400
      padding-top 350px
      font-size s($text-XL = 26.56, 16)
      text-transform: uppercase
      letter-spacing 2px
  &__gobottom
    position absolute
    bottom 30%
    left 0
    right 0
    margin-left: auto
    margin-right: auto
    &-arrow
      transition .3s ease transform
    &-arrow2
      opacity 0
      transition .3s ease all
      transition-property opacity, transform
    &:hover .header-shawl__gobottom-arrow
      transform translateY(17px)
      opacity 0
      transition .3s ease all
      transition-property opacity, transform
    &:hover .header-shawl__gobottom-arrow2
      opacity 1
      transform translateY(17px)
      transition .3s ease all
      transition-property opacity, transform

.no-backgroundcliptext
  .header-shawl__title__strong
  .header-shawl__title__small
    background none
    color $cWhite
    filter none


/************************************\
		LOGO
\************************************/
.logo
  position: relative
  top s(15, 18)
  color $cWhite
  font-weight: 700
  font-size 18px
  letter-spacing 1px
  padding s(10, 18) s(0)

/************************************\
        HEADER TRADES
\************************************/
.header-trades
  position: relative
  min-height 50em
  padding s(35, 16) s(40,16) 0 s(40,16)
  &__title
    @extend .title-bigTitleHome
    position: absolute
    top 33%
    color $cWhite
    text-shadow: 0 1px 1px rgba(0,0,0,0.50);
  &__subnav
    position: absolute
    top 46%
    &__title
      @extend .hidden
    &__item
      margin-bottom s(15)
      &:last-child
        margin-bottom 0
    &__link
      @extend .linkArrowLarge
      color rgba(255,255,255,.8)
      transform translate3D(0, 0, 0)
      transition .2s ease all
      transition-property color, transform
      &:hover
      &:focus
        color rgba(255,255,255,1)
        transform translate3D(3px, 0, 0)
        transition-property color, transform

/************************************\
		HEADER-WEBHOME
\************************************/
.header-webhome
  background repeating-linear-gradient(321deg,rgba(0, 4, 40, 0.99) 0%,rgba(0, 49, 105, 0.99) 65.9%,rgb(0, 72, 137) 100%,rgb(0, 78, 146) 100%);
  -webkit-backface-visibility: hidden;

.header-webhome .header__wrapper
  @extend .cover
  padding s(35, 16) s(40,16) 0 s(40,16)
  box-sizing content-box
.phone-illu
  display inline-block
  float: right
  position absolute
  bottom s(-100)
  right: s(65)
  z-index 10
  &__img-container
    display inline-block
  &__parallax-wrapper
    position absolute
    top s(64)
    right: s(59)
    width s(232)
    height s(410)
    background-color $cGreyFooter
    overflow hidden

.container
  padding-top 1000px

.header-webhome .canvas
  display: block
  height s(800)

.header-webhome .particles-js
  position: absolute
  @extend .cover



.background-opacity
  position: absolute
  @extend .cover
