.contact-us &
  .contact
    &__top-wrapper
      margin-top s(50)
      @extend .containerGridz
      &:after
        @extend .clearfix
    &__title
      @extend .titleExtraBold33
      color $cBlueTitles
    &__paragraph
      font-size s($sz7)
      line-height: 1.4em
    &__content-wrapper
      width col(5,12) + gutter(12)
      float: left
    &__img
      float: right
      //width col(6,12)

  .responsible
    margin-top s(35, $sz7)
    &__label
      display: block
      margin-bottom s(13, $sz6)
      font-weight 700
      color $cBlueTitles
      font-size s($sz6)
    &__name
    &__mail
      display: block
      font-size s($sz8)
      line-height: 1.4em
    &__mail
      margin-bottom s(25, $sz8)
      margin-top s(5, $sz8)
      &:before
        icon('mail')
        font-size 12px
        color $cBlueCiel
        margin-right s(10, 12)


  .social-list-circle
    margin-top s(50)
    &__item
      display: inline-block
      margin-right s(10)
      &:last-child
        margin-right: 0

  .map
    &__container
      position: relative;
      padding: 6.25em 0 3.75em;
      height s(480)
    &__canvas
      position: absolute;
      top: 0;
      bottom: 0;
      left: 750px
      right: 0
      z-index: 0;


  .contact-form
    width s(565)
    padding s(50) s(45)
    background $cWhite
    &__container
      background $cBackgroundGrey2
      padding-bottom s(100)
    &__wrapper
      position: relative
      max-width s(945)
      top s(-100)
      margin 0 auto
      box-shadow: 0 2px 11px 0 rgba(187,187,187,0.50)
      border-radius: 1px
    &__title
      @extend .titleExtraBold
      color $cBlueTitles

  .contact-more
    position: absolute
    top: 0
    right: 0
    height 100%
    width s(380)
    padding s(50) s(45)
    background $cBlueCiel
    &__title
      @extend .titleExtraBold
      color $cWhite
      &:after
        background $cWhite
    &__address
    &__link
    &__timetable
      display: inline-block
      color $cWhite
      font-size s($sz8)
    &__item
      position: relative
      margin-bottom s(40)
      &:before
        position: relative
        top 2px
        float: left
        margin-right s(10)
        setIconBase()
        color rgba(255,255,255,0.8)
        font-size 18px
      &:after
        @extend .clearfix
    &__item.address:before
      setIconInclude('location-contact')
      top 6px
    &__item.tel:before
      setIconInclude('phone-contact')
      margin-right 14px
    &__item.mail:before
      setIconInclude('mail-contact')
      margin-right 8px
    &__item.timetable:before
      setIconInclude('date')
      margin-right 8px
      top 4px
    &__address
      color $cWhite
      line-height 1.4em
      position: relative
    &__timetable
      & dt
      & dd
        font-size s($sz8, $sz8)
        color $cWhite
      & dt
        font-weight: 700
        margin-bottom s(5, $sz8)

  .footer__container
    margin-top: 0
