.registration
  background-color $cBackgroundGrey
  .header__wrapper
    position relative
  .breadcrumb.breadcrumb--header
    top 0
    margin-top s(192)
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey
  & .footer__container
    margin-top: 0

// Intro
.insIntro
  &__wrapper
    position: relative
    @extend .containerGridz
    margin-top s(50)
    padding-bottom s(60)
    &:after
      @extend .clearfix
  &__textWrapper
    width col(6,12)
    @media screen and (max-width 940px)
      width: 100%
  &__title
    @extend .titleExtraBold26
    color $cBlueTitles
    @media screen and (max-width 500px)
      font-size s($sz6)
  &__paragraph
    font-size s($sz7)
    line-height 1.62em
  &__figure
    position: absolute
    top 0
    right s($paddingSideGlobal)
  &__img
    @media screen and (max-width 1200px)
      display: block
      width 70%
      margin-left auto
    @media screen and (max-width 940px)
      display: none
  
// location
.insLocation
  background $cWhite
  padding s(60) 0 s(60) 0
  &__wrapper
    @extend .containerGridz
  &__title
    @extend .hidden
  &__paragraph
    font-size s($sz7)
    line-height: 1.62em
    margin-bottom s(20, $sz7)
    &:last-child
      margin-bottom: 0
  &__when
    &__title
      display: block
      @extend .titleExtraBold26
      margin-bottom s(25, $sz5)
      color $cBlueTitles
      @media screen and (max-width 500px)
        font-size s($sz6)
    & .insLocation__paragraph
      width col(6,12)
      @media screen and (max-width 940px)
        width: 100%

.map
  &__container
    position: relative
    padding 6.25em 0 3.75em
    @media screen and (max-width 768px)
      padding s(50) 0
  &__textWrapperContainer
    box-sizing content-box
    @extend .containerGridz
    &:after
      @extend .clearfix
  &__textWrapper
    float: right
    position: relative
    max-width s(450)
    padding s(55) s(50)
    box-sizing border-box
    background $cWhite
    box-shadow 0 0 s(14) 0 rgba(206,206,206,0.70)
    z-index 1
    @media screen and (max-width 768px)
      max-width none
      float none
    @media screen and (max-width 768px)
      padding s(20)
  &__title
    display: block
    @extend .titleExtraBold26
    margin-bottom s(25, $sz5)
    color $cBlueTitles
    @media screen and (max-width 500px)
      font-size s($sz6)
  & b
    font-weight: 700
    font-size inherit
  &__addressWrapper
    &:after
      @extend .clearfix
    & svg
      width s(22)
      float: left
      margin-right s(20)
      position: relative
      top s(8)
  &__address
    display: inline-block
    font-size s($sz7)
    line-height: 1.62em
  &__canvas
    overflow: hidden
    position: absolute
    top: 0
    bottom: 0
    left -480px
    right -480px
    margin-left -830px
    z-index 0
    @media screen and (max-width 768px)
      display: none

//insBottom
.insBottom
  position: relative
  &__title
    @extend .hidden

.insDossier
  @extend .containerGridz
  position: relative
  &:after
    @extend .clearfix
  &__wrapper
    width 50%
    float: right
    padding s(60) 0
    @media screen and (max-width 768px)
      width: 100%
  &__title
    display: block
    @extend .titleExtraBold26
    margin-bottom s(25, $sz5)
    color $cBlueTitles
    line-height: 1.1em
  &__paragraph
    font-size s($sz7)
    line-height: 1.62em
    margin-bottom s(20, $sz7)
    &:last-child
      margin-bottom: 0
    & *
      font-size inherit
    & b
      font-weight bold

.insHelp
  position: absolute
  top: 0
  left: 0
  height: 100%
  background $cBlue1
  padding s(60) s(60)
  width 45%
  @media screen and (max-width 768px)
    position static
    width 100%
  @media screen and (max-width 500px)
    padding s(20)
  &__title
    display: block
    @extend .titleExtraBold26
    margin-bottom s(25, $sz5)
    color $cWhite
    @media screen and (max-width 500px)
      font-size s($sz6)
    &:after
      background $cWhite
  &__paragraph
    color $cWhite
    font-size s($sz7)
    line-height: 1.62em
    & a
      font-size: inherit;
      font-weight: 700
  &__tel
    margin s(15) 0
  &__tel
  &__email
    color $cWhite
    font-size s($sz7)
    display: block
    &:before
      setIconBase()
      margin-right s(10,$sz7)
      font-size s(12)
  &__tel:before
    setIconInclude('phone')
  &__email:before
    setIconInclude('mail')
  &__subtitle
    display: block
    @extend .titleExtraBold26
    color $cWhite
    margin s(45, $sz5) 0 s(25, $sz5)
    @media screen and (max-width 500px)
      font-size s($sz6)
    &:after
      background $cWhite



