.internship &
  background-color $cGreyLight
  .propose
    max-width s(735)
    box-sizing content-box
    margin s(75) auto 0 auto
    text-align: center
    padding s(0) s(20)
    &__title
      @extend .titleExtraBold26
      color $cBlueTitles
      &:after
        margin s(11, $sz5) auto 0 auto
    &__paragraph
      @extend .paragraph21
    &__infos
      max-width s(538)
      margin s(50) auto s(120) auto
      &:after
        @extend .clearfix
    &__info
      display: block
      max-width s(146)
      float: left
      margin-right s(36, $sz8)
      font-size s($sz8)
      letter-spacing 1px
      color $cBlueTitles
      line-height: 1.3em
      @media screen and (max-width 550px)
        float none
        max-width none
        margin 0 auto s(40) auto
      &:last-child
        margin-right: 0
        @media screen and (max-width 550px)
          margin-bottom 0
      &:before
        setIconBase()
        display: block
        font-size s(45, $sz8)
        margin-bottom s(10, 45)
        color $cBlue2
      & br
        @media screen and (max-width 550px)
          display: none
      &--duration:before
        setIconInclude('duration')
      &--date:before
        setIconInclude('date')
      &--convention:before
        setIconInclude('formcomplete')
      & strong
        font-size s(20, $sz8)
        font-weight 900
        color $cBlueTitles


  .form
    background $cBackgroundGrey2
    padding s(0) s(20)
    box-sizing content-box
    &__container
      max-width s(735)
      margin 0 auto
      text-align: center
    &__title
      padding-top s(120, $sz5)
      @extend .titleExtraBold26
      color $cBlueTitles
      &:after
        margin s(11, $sz5) auto 0 auto
    &__paragraph
      width 90%
      margin 0 auto s(60, $sz6) auto
      @extend .paragraph21
    &__button-container
      &:after
        @extend .clearfix
    &__button
      display: block
      width s(345)
      height s(143)
      border 1px solid $cGrey5
      border-radius 2px
      transition .3s ease border
      @media screen and (max-width 768px)
        width 100%
        margin 0 0 s(30) 0
      &:last-child
        @media screen and (max-width 768px)
          margin-bottom 0
      &__label
        font-size s($sz10)
        font-weight: 700
        letter-spacing .3px
        color $cGrey5
        transition .3s ease color
        &:before
          setIconBase()
          display: block
          font-size s(47, $sz10)
          margin-bottom s(3, $sz10)
    &__button--detail
      float: left
      & .form__button__label:before
        setIconInclude('formcomplete')
    &__button--pdf
      float: right
      & .form__button__label:before
        setIconInclude('pdf')
    &__button--active
      border 1px solid $cBlueCiel
      transition .3s ease border
      & .form__button__label
        color $cBlueCiel
        transition .3s ease color
    &__button:hover
      border 1px solid $cBlack
      transition .3s ease border
      & .form__button__label
        color $cBlack
        transition .3s ease color
    &__button--active:hover
      border 1px solid $cBlueCiel
      & .form__button__label
        color $cBlueCiel






/************************************\
		TABS
\************************************/

  .tab-wrapper
    position: relative
    margin-top s(40)

  .tab
    display: none
  .tab.active
    display block

.no-js
  .internship &
    .tab
      display: block

