.nav
  &__title
    hidden()
.menu
  display block
  position relative
  list-style none
  margin 0
  padding 0
  z-index 15
  &__item
    list-style none
    display inline-block
    padding 0
    margin 0
    &:after
      content ''
      display: inline-block
      position relative
      right: 0
      top: 47%
      width 1px
      height s(12,16)
      background-color rgba(255,255,255,0.35)
    &:nth-child(n+5):after
      display: none
  &__link
    position relative
    display inline-block
    padding s(10,$sz-menu) s(20,$sz-menu)
    border 1px solid transparent
    font-size s($sz-menu)
    letter-spacing 0.5px
    color $cWhite
    transition .2s ease opacity
    &:hover
    &:focus
      opacity 0.75
      transition .3s ease opacity
    &--cta
      position: relative
      margin-left s(40, 13)
      padding s(20,13) s(35, 13) /*s(24,$sz-menu)*/
      background-color rgba(255,255,255,0.10)
      font-size s(13)
      font-weight: 900
      letter-spacing 2px
      border 2px solid $cWhite
      border-radius 2px
      text-transform: uppercase
      &:hover
      &:focus
        opacity 1
      &:before
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background: rgba(255,255,255,0.2);
        z-index: -1;
        transition .3s width;
      &:hover:before
      &:focus:before
        width 100%


  &__item > a:focus,
  &__item > a.open,
  &__item > a.open
    z-index 1
.subnav
  position: absolute;
  visibility hidden
  top: s(58, 16)
  margin-top: -1px;
  padding s(45,16) s(50, 16) s(20, 16)
  border-radius 5px
  background-color: $cWhite
  background $cWhite
  &:before
    content ''
    position: absolute;
    display: block
    width: 12px;
    height: 12px;
    top: -6px;
    left: 0
    right: 0
    margin-left: auto
    margin-right: auto
    transform: rotate(45deg);
    border-radius: 2px 0 0 0;
    background: $cWhite;
  &__group
    display: inline-block;
    vertical-align: top;
    margin: 0 1em 0 0;
    padding: 0;
  &__li
    position: relative
    display: inline-block;
    padding-right s(14, $sz-menu)
    color $cBlueCiel
  &__li + li
    padding-left s(14, $sz-menu)
  &__li:last-child .subnav__jobs__link:after
    display: none
  &__li span
    hidden()
  &__group
    display: block
    margin-bottom s(30, 16)
    &:last-child
      margin-bottom 0
  &__link-wrapper
    margin-top s(2,16)
    clear left
  &__jobs
    box-shadow: 0 s(50, 16) s(100, 16) rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 s(5, 16) s(15, 16) rgba(0,0,0,.1);
    color: #000
    &__job
      display: inline-block
      &__title
        display: inline-block
        Catamaran($text-L,16, 500, 1.2)
        color $cBlueWeb
        letter-spacing .2px
        text-transform: uppercase
        float left
        &--DG
          color $cPinkDG
        &--3D
          color $cGreen3D
      &:hover span
      &:focus span
        color $cBlack
        transition .2s ease color
      &:hover > img
      &:focus > img
        filter: grayscale(100%) contrast(200%);
        transition .2s ease filter
    &__menuicon
      position relative
      top s(-1,16)
      left s(15,16)
    &__link
      display: inline-block
      Catamaran(19,$sz-menu, 400, 1.2)
      &:after
        content ''
        display: inline-block
        position absolute
        right: 0
        top: 46%
        width 1px
        height 7px
        background-color $cGrey-lineMenu
      &:hover
      &:focus
        text-decoration underline

/************************************\
  ANIMATION DU MENU & DECOR
\************************************/

.subnav
  transform translate3D(s(-216, 16),s(-20, 16),0) // -216px pour centrer
  opacity 0
  transition .1s ease all
  &:before
    transform translateY(s(8, 16)) rotate(45deg)
    opacity 0
    transition .1s .1s ease transform
  &.open
    visibility visible
    transform translate3D(s(-216, 16),0,0)
    transition .2s ease all
    opacity 1;
    transition-property transform, opacity
    &:before
      opacity 1
      transform translate3D(0,0,0) rotate(45deg)
      transition .1s .1s ease-in transform
  &__jobs__cloud
    position: absolute
    top s(20, 16)
    right s(80, 16)
    transform translate3D(s(-80, 16), 0,0)
    opacity 0
    transition .2s ease-in all
    transition-property transform, opacity
  &__jobs.open .subnav__jobs__cloud
    transform translate3D(0,0,0)
    opacity 1
    transition .3s ease-out all
    transition-property transform, opacity
  &__jobs__town
    overflow: hidden
    position: absolute
    bottom: 0
    left 0
    right 0
    z-index -1
    border-radius 5px
    & svg
      transform translate3D(0, s(120, 16), 0)
      transition .4s $ease-out-quart transform
  &__jobs.open .subnav__jobs__town svg
    transform translate3D(0, 10px, 0)
    transition .4s $ease-out-quart transform


/************************************\
  DROPDOWN L’ECOLE & ANIMATION
\************************************/

.subnav
  &__school
    padding-right s(60, 16)
    padding-bottom 0
    left s(211, 16)
    border-bottom s(14, 16) inset $cBlueGreyLight
    box-shadow: 0 s(50, 16) s(100, 16) rgba(50,50,93,.1), 0 15px 35px rgba(50,50,93,.15), 0 s(5, 16) s(15, 16) rgba(0,0,0,.1);
    & a
      Catamaran(17, 16, 500, 1.2)
      color $cBlueCiel
      text-transform uppercase
      letter-spacing 0.4px
      &:after
        display: inline-block
        icon('arrow-right')
        font-size s(13, 17)
        transform translateX(8px)
        transition .2s ease transform
      &:hover
      &:focus
        color $cBlack
      &:hover:after
      &:focus:after
        transform translateX(12px)
        transition .3s ease transform

    & li
      margin-bottom s(25, 16)
    &__cloud
      position absolute
      top s(26,16)
      right s(50,16)
      transform translateX(s(45, 16)) scale(1.4)
    &__svg-wrapper
      position: absolute
      height s(80, 16)
      bottom: 0
      left: 0
      right 0
      overflow hidden
      z-index -1
    &__building
      position absolute
      bottom 0
      z-index -1
      left: 0
      transform translateX(s(-40, 16))
    &__trees1
    &__trees2
      position: absolute
      bottom: 1px
      z-index -1
    &__trees1
      left s(230, 16)
      transform translateY(s(18,16)) scale(1.4)
    &__trees2
      left s(180,16)
      transform translateY(s(28,16)) scale(1.4)
  &__school.open .subnav__school__cloud
    transform translateX(0) scale(1.4)
    transition .4s ease-out transform
  &__school.open .subnav__school
    &__building
      transform translateX(0)
      transition .3s $ease-out-cubic transform
    &__trees1
      transform translateY(0px) scale(1.4)
      transition .5s $ease-out-quint transform
    &__trees2
      transform translateY(-1px) scale(1.4)
      transition .3s ease transform


.menu__title-responsive
div .menu__title-responsive
.hamburger
  display: none

/************************************\
		RESPONSIVE
\************************************/
@media screen and (max-width: 1200px)
  .subnav
    &__jobs
      left s(238)
      &:before
        margin-left: s(49)
    &__school
      left s(380)
      &:before
        margin-left s(22)



// Create button hamburger & animation
@media screen and (max-width: 1080px)
  .hamburger
    display: block
    width: s(35)
    height: s(24)
    position: relative
    margin-top s(15)
    transform: rotate(0deg)
    transition: .5s ease-in-out
    cursor: pointer
    & span
      display: block
      position: absolute
      height: s(2)
      width: 100%
      background: $cWhite
      border-radius: s(10)
      opacity: 1
      left: 0
      transform: rotate(0deg)
      transition: .25s ease-in-out
      &:nth-child(1)
        top 0
        left initial
        right 0
        width 75%
      &:nth-child(2)
      &:nth-child(3)
        top s(10)
        right 0
        left initial
        width 60%
      &:nth-child(4)
        top s(20)
        right 0
        left initial
        width 90%

  .hamburger:hover
  .hamburger:focus
    & span
      width 100%

  .hamburger.open span:nth-child(1)
  .hamburger.open span:nth-child(4)
    width: 0
    left: 0
    opacity: 0
    right auto
    background rgba(255,255,255,0)
    top s(12)
  .hamburger.open span:nth-child(2)
    transform: rotate(45deg)
    left 0
    right auto
    width 100%
  .hamburger.open span:nth-child(3)
    transform: rotate(-45deg)
    left 0
    right auto
    width 100%


// Create navigation responsive from right to left
@media screen and (max-width: 1080px)
  body.menu-responsive
    position relative
    .header
      position static

  .menu
    display: block
    position: fixed
    right: 0
    top: 0
    bottom: 0
    height 100%
    width s(300)
    padding 0
    text-align: center
    background $cBlueTitles
    &__item
      display block
      &:after
        display: none
    &__link
    &__fake
      display: none
    &__title-responsive
      display: block
      margin-bottom s(15, $sz8)
      margin-top s(15, $sz8)
      padding s(30, $sz8) 0
      text-align: center
      color $cWhite
      font-size s($sz8)
      font-weight: 900
      letter-spacing s(3, $sz8)
      text-transform: uppercase
      border-bottom 1px solid #1A2C3F
      border-top 1px solid #1A2C3F
      &:after
        content ''
        display: block
        width s(20, $sz8)
        height s(3, $sz8)
        background $cWhite
        opacity 40%
        margin s(7, $sz8) auto 0
    &__title-responsive--first
      border-top none
      margin-top: 0

  .subnav
    position static
    padding 0
    visibility visible
    opacity 1
    background none
    box-shadow none
    transition 0s 0s all ease
    transform none
    left 0
    &:before
      display: none
    & *
    & a
      color $cWhite
    & svg
    & img
      display none
    &__group
      display: block
      padding: 0
      margin 0
    &__link-wrapper
      display: none
    &__jobs__job:hover span
    &__jobs__job:focus span
      color $cWhite
    &__jobs__job
      width: 100%
      padding s(20) 0
    &__jobs__job__title
    &__school li a
      display: block
      font-size s($sz9)
      width 100%
      padding 0 s(60, $sz9)
      font-weight: 900
      text-transform: uppercase
      color $cWhite
      letter-spacing .6px
    &__school li a:after
      display: none
    &__school li
      margin-bottom 0

  .subnav__school
    border-bottom: 0
  .subnav__school li a
    padding 20px 0

  .menu__link-res
    display block
    width: 100%
    padding s(20, $sz9) s(60, $sz9)
    font-size s($sz9)
    font-weight: 900
    text-transform: uppercase
    color $cWhite
    letter-spacing .6px

  .menu__link--cta
    display: block
    width: 100%
    background $cBlueCiel
    margin s(15, $sz9) 0 0 0
    border none
    padding s(25, $sz9) 0
    transition .3s ease background
    &:hover
    &:focus
      background $cBlueCiel + 10%
      transition .3s ease background


  // Hover links in menu responsive
  .subnav__jobs__job
  .subnav__school li
  .menu__link-res
    transition .3s ease background-color
  .subnav__jobs__job:hover
  .subnav__jobs__job:focus
  .subnav__school li:hover
  .subnav__school li:focus
  .menu__link-res:hover
  .menu__link-res:focus
    background-color $cBlueTitles - 20%
    transition .3s ease background-color

  .subnav__school a:hover
  .subnav__school a:focus
  .menu__link-res:hover
  .menu__link-res:focus
    color $cWhite
    opacity 1

  .subnav.open
    transform none
    transition 0s 0s all ease


