.les-metiers-du-web-programme-des-cours
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

.program
  &__container-top
    @extend .containerGridz
  &__title *
    display: block
    color $cBlueTitles
    text-transform uppercase
  &__title
    margin s(60) 0
  &__title span
    font-size s($sz5)
    margin-bottom s(5, $sz5)
  &__title strong
    position: relative
    display: inline-block
    font-size s($sz4)
    font-weight 700
    letter-spacing 0.5px
    &:after
      content ''
      display: block
      width 100%
      height s(5, $sz4)
      margin-top s(20, $sz4)
      background-color $cBlueTitles


/************************************\
		REDIRECTION COURS
\************************************/

.program__redirect
  width col(10,12) + (gutter(12)*2)
  margin 0 auto
  &:after
    @extend .clearfix
  &-link
    display block
    float left
    width 29.439252336% // ((315/1070)*100)
    margin-right 5.799812909%
    &:last-child
      margin-right: 0
  &__figure
    position: relative
    overflow hidden
  &__img
    display: block
    transition .3s $ease-out-expo all
    transition-property transform, opacity
  &__img-wrapper
    position: relative
    overflow hidden
    &:before
      icon('arrow-bottom-2')
      position: absolute
      display: inline-block
      text-align: center
      left: 0
      right: 0
      margin-right 0
      margin-left 0
      top 50%
      font-size s(39)
      color $cWhite
      transform translateY(-150%)
      opacity 0
      transition .3s $ease-out-expo all
      transition-property transform, opacity
      z-index 10
  &__figcaption
    background-color $cWhite
    padding s(20) 0
    text-align: center
    &:after
      content ''
      display block
      position: absolute
      bottom: 0
      width 100%
      height s(0)
      background-color $cGreen
      transition .2s ease height
    & span
      display: block
      font-size: s($sz9)
      color: $cBlack;
      text-transform: uppercase
    & strong
      display: block
      margin-top s(5, $sz8)
      font-size s($sz8)
      font-weight: 700
      color $cBlack
      text-transform: uppercase
      letter-spacing 0.7px

.program__redirect-link:hover
.program__redirect-link:focus
  & .program__redirect__figcaption
    &:after
      height s(5)
      transition .2s ease height
  & .program__redirect__img-wrapper
    &:before
      opacity 1
      transform translateY(-50%)
      transition .3s $ease-out-expo all
      transition-property transform, opacity
  & .program__redirect__img
    transform scale(1.15)
    transition .3s $ease-out-expo all
    transition-property transform, opacity

/************************************\
		TABLE
\************************************/

.program-bloc
  &:last-child
    padding-bottom s(130)
  @extend .containerGridz
  &__wrapper
    width col(10,12) + (gutter(12)*2)
    margin s(125) auto 0
  &__title
    @extend .title4
    display: inline-block
    text-transform: uppercase
    margin-bottom s(25, $sz4)
    &:after
      content ''
      display: block
      width s(40, $sz4)
      height s(5, $sz4)
      background-color $cBlueTitles
      margin-top s(10, $sz4)
  &__text
    display: block
    font-size s($sz8)
    margin-bottom s(10, $sz8)

.program-bloc
  &__container
    &:before
      @extend .clearfix
  &__filter
    margin s(25) 0 s(30) 0
    text-align right
  &__filter-title
    color $cBlue2
    font-weight 700
    font-size s($sz10)
    letter-spacing: 0.5px
    text-transform: uppercase
    margin-right s(25, $sz10)
  &__button
    display: inline-block
    margin-right s(10, $sz9)
    font-size s($sz9)
    text-transform: uppercase
    letter-spacing 0.43px
    font-weight: bold
    color $cBlue2
    padding s(14, $sz9) s(30, $sz9)
    border 1px solid $cGrey1
    border-radius 500px
    background-color rgba(255,255,255,.0)
    transition .3s ease background-color
    outline none
    &:last-child
      margin-right: 0
  &__button--active
    background-color $cWhite
    color $cGreen
  &__button:hover
  &__button:focus
    background-color rgba(255,255,255,.8)
    transition .3s ease background-color
  &__button--active:hover
  &__button--active:focus
    background-color $cWhite


// Thead
.program-table
  width 100%
  &__thead
    background-color $cBlue1
    border-bottom s(10) solid $cBackgroundGrey
    & *
      color $cWhite
      font-size: s(17)
      font-weight: 600
    & tr
      height s(50)
    & th
      vertical-align: middle
      border-right 2px solid $cBlue1 - 25%
      cursor pointer
      &:last-child
        border-right none
    & .program-table
      &__orientation
      &__hour
      &__ects
      &__quad
        text-align: center
        padding 0 5px
      &__orientation
        width percentage(147/1070)
      &__course
        width percentage(526/1070)
        padding-left percentage(30/1070)
        text-align left
      &__hour
        width percentage(113/1070)
      &__ects
        width percentage(113/1070)
      &__quad
        width percentage(163/1070)
        cursor auto

//Tbody
.program-table
  &__tbody
    & tr
      position: relative
      background-color $cWhite
      box-shadow: 1px 1px 2px 0 rgba(179,179,179,0.50);
      border-bottom 1px solid $cGrey1;
      &:last-child
        border none
    & td
      padding s(25) 0
      vertical-align middle
    & .program-table
      &__orientation
        font-size s($sz10)
        font-weight 700
        color $cGrey2
        text-align: center
        letter-spacing 1px
        text-transform: uppercase
      &__course
        padding-left percentage(30/1070)
        &__name
          display: block
          margin-bottom s(4, $sz7)
          font-size s($sz7)
          color $cBlueCiel
          font-weight 600
        &__desc
          font-size s($sz9)
          font-weight 300
      &__hour
      &__ects
      &__quad
        color $cBlack
        font-weight: bold
        text-align: right
        padding-right percentage(30/1070)

// hover tr
.program-table__tbody tr
  transition .2s ease background-color
.program-table__tbody tr:hover
.program-table__tbody tr:focus
  background-color $cWhite - 3%
  transition .3s ease background-color

// sorting icons
.program-table__thead th
  & span
    margin-right 7px
  &:after
    icon('triangle-double');
    display: inline-block
    font-size: s(9);
    width 7px
    color $cBlue1 - 60%
  &:last-child:after
    display: none

.program-table__thead th.sorting-asc:after
  position: relative
  top -1px
  width 7px
  icon('triangle');
  color $cWhite
  font-size s(5)
.program-table__thead th.sorting-desc:after
  position: relative
  top -1px
  width 7px
  icon('triangle');
  color $cWhite
  font-size s(5)
  transform rotate(180deg)
  transform-origin 50% 50%

.program-table__tbody td span
  margin-right 5px
.program-table__tbody td:last-child span
  margin-right: 0
/*.program-table__tbody td a
  margin-left 5px*/

// js
.program-table__container
  position: relative
.program-table
  display: none

.option-visible .program-table--option
.all-visible .program-table--all
  display table


.option-visible .program-table--option .link-row
.all-visible .program-table--all .link-row
  animation opacity .4s ease

@keyframes opacity{
  0%{
    opacity 0
  }
  100%{
    opacity 1
  }
}

.link-row
  cursor pointer

// nojs
.no-js
  .program-table
    display table
    margin-bottom 100px
  .link-row
    cursor auto
