.web-what
.webdesigner
.webintegrator
.frontend
.devbackend
.webmobile
  position relative
  &__wrapper
    position: relative
    @extend .containerGridz
    padding 0 s($paddingSideGlobal)
    @media screen and (max-width 375px)
      padding 0 s(20)
    &:after
      @extend .clearfix

  &__title
    @extend .titleXXXL
    margin-bottom s(30, $text-XXXL)
  &__text
    @extend .paragraph21
  &__link
    @extend .linkArrowLarge
    margin-top s(50, $text-L)

.web-what
  min-height s(950)
  @media screen and (max-width 768px)
    min-height 0
    padding-bottom s(150)
  &__wrapper
    &-text
      float: right
      width 45%
      margin-top s(350)
      @media screen and (max-width 1024px)
        width: 60%
      @media screen and (max-width 768px)
        width: 100%
        margin-top s(100)
        text-align: center
  &__title
    & span
      @extend .hidden
    & svg
      position: relative
      top s(7)
      left s(5)
  &__img
    position: absolute
    top: s(-50)
    left s(-250)
    z-index 10
    @media screen and (max-width 1024px)
      left s(-450)
    @media screen and (max-width 768px)
      display none

.webdesigner
  min-height s(740)
  background-color $cBackgroundBlueGrey
  margin-bottom s(250)
  baseShawl($cBackgroundBlueGrey, 4.5deg)
  @media screen and (max-width 768px)
    min-height 0
    padding s(2) 0 s(100) 0
    margin-bottom s(100)
  &__wrapper-text
    float: left
    width 36%
    margin-top s(200)
    @media screen and (max-width 1024px)
      width: 50%
    @media screen and (max-width 768px)
      width: 100%
      text-align: center
      margin-top s(100)
      float: none
  &__img
    position: absolute
    right: s(-150)
    top s(170)
    opacity 0
    transform translateX(250px)
    @media screen and (max-width 1024px)
      right s(-380)
    @media screen and (max-width 768px)
      display: none

.no-js .webdesigner__img
  opacity 1
  transform none

.webdesigner.anim-webdesigner
  .webdesigner__img
    opacity 1
    transform translateX(0)
    transition .5s ease all


.webintegrator
  min-height s(740)
  @media screen and (max-width 768px)
    min-height 0
    padding-bottom s(150)
  &__wrapper-text
    position: relative
    float: right
    max-width s(560)
    margin-top s(35)
    text-align: right
    z-index 3
    @media screen and (max-width 1024px)
      max-width s(496)
    @media screen and (max-width 768px)
      width: 100%
      max-width none
      float none
      text-align: center
      margin-top 0
  &__img
    position: absolute
    left: s(-350)
    top s(-50)
    z-index 1
    max-width none
    transform translateX(-70px)
    opacity 0
    @media screen and (max-width 1024px)
      left: s(-550)
    @media screen and (max-width 768px)
      display: none
  &__img--2
    position: absolute
    top s(270)
    left s(165)
    z-index 2
    transform translateY(50px)
    @media screen and (max-width 1024px)
      left: s(-35)
    @media screen and (max-width 768px)
      display: none

.no-js
  .webintegrator__img
  .webdesigner__img--2
    transform none

.webintegrator.anim-webintegrator-screen
  .webintegrator__img
    transform translateX(0)
    opacity 1
    transition .5s ease all
.webintegrator .anim-webintegrator-ipads
  .webintegrator__img--2
    transform translateX(0)
    opacity 1
    transition .5s ease all


.frontend
  min-height s(1000)
  padding-top s(100)
  @media screen and (max-width 768px)
    min-height 0
    padding-bottom s(230)
  &:before
    @extend .baseshawl
    z-index 0
    bottom s(100)
    @media screen and (max-width 768px)
      z-index 0
  &__overflowh
    position absolute
    top s(29)
    left s(105)
    z-index 2
    width 609px
    height 381px
    overflow hidden
    @media screen and (max-width 768px)
      display: none
  &__wrapper-text
    float: left
    max-width 41%
    margin-top s(51)
    @media screen and (max-width 1024px)
      max-width 55%
      position: relative
      z-index 1
    @media screen and (max-width 768px)
      max-width 100%
      float none
      margin 0
      text-align center
  &__link
    width 90%
  &__wrapper
    position absolute
    left 0
    right 0
    @media screen and (max-width 768px)
      position static
  &__anim-container
    position absolute
    right s(-200)
    width s(818)
    height 100%
    @media screen and (max-width 1024px)
      right s(-450)
    @media screen and (max-width 768px)
      display: none
  &__anim-wrapper
    position: relative
    & .anim-front
      position absolute
      z-index 3
      & .line-code
        transform translateY(0)
        stroke-dashoffset 0px
      & .logojs
        transform: translateX(915px) translateY(627px);
        transform-origin 50% 50%
      & .logojs ellipse
        transform-origin 50px 50px
      & .logojs path
        transform-origin 50% 50%
  &__img
    position absolute
    z-index 1
    top: 0

.devbackend
  min-height s(740)
  @media screen and (max-width 768px)
    min-height 0
    padding-bottom s(150)
  &__wrapper-text
    position: relative
    float: right
    max-width s(560)
    text-align: right
    z-index 3
    @media screen and (max-width 1174px)
      max-width 60%
    @media screen and (max-width 768px)
      max-width none
      width: 100%
      text-align: center
      float: none
  &__img
    position: absolute
    left: s(-250)
    top s(-280)
    z-index 1
    max-width none
    transform rotateY(25deg)
    @media screen and (max-width 1174px)
      left s(-480)
    @media screen and (max-width 768px)
      display: none
  &__img--2
    position: absolute
    top s(50)
    left s(-250)
    z-index 2
    transform translateX(50px)
    @media screen and (max-width 1174px)
      left s(-450)
    @media screen and (max-width 932px)
      display: none

.no-js .devbackend .devbackend__img
.no-js .devbackend .devbackend__img--2
  transform none

.devbackend .devbackend__img.anim-devbackend-imac
  transform rotateY(0)
  transition .5s ease transform
.devbackend .devbackend__img--2.anim-devbackend-code
  transform translateX(0)
  transition .5s ease transform


.webmobile
  min-height s(740)
  z-index 1
  @media screen and (max-width 768px)
    min-height 0
    padding-bottom s(150)
  &:before
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    transform: skewY(4.5deg);
    transform-origin: 100% 0;
    bottom: -1px;
    background-color: $cBackgroundBlueGrey
    z-index -1
  &__wrapper-text
    width 38%
    padding-top s(100)
    @media screen and (max-width 1024px)
      width 58%
    @media screen and (max-width 768px)
      width: 100%
      text-align: center
  &__img--1
    position absolute
    top s(-180)
    right s(-70)
    transform translate(200px, -100px);
    opacity 0
    @media screen and (max-width 1024px)
      right s(-370)
    @media screen and (max-width 768px)
      display: none
  &__img--2
    position absolute
    top s(40)
    right s(-320)
    transform translate(200px, -100px);
    opacity 0
    @media screen and (max-width 1024px)
      right s(-620)
    @media screen and (max-width 768px)
      display: none
  &__img--3
    position absolute
    top s(360)
    right s(150)
    transform translate(-200px, 100px);
    opacity 0
    @media screen and (max-width 1024px)
      right s(-150)
    @media screen and (max-width 768px)
      display: none
  &__img--4
    position absolute
    top s(400)
    right s(-460)
    transform translate(200px, -100px);
    opacity 0
    @media screen and (max-width 1024px)
      display none
    @media screen and (max-width 768px)
      display: none

.no-js .webmobile__img--1
.no-js .webmobile__img--2
.no-js .webmobile__img--3
.no-js .webmobile__img--4
  transform none
  opacity 1

.webmobile .webmobile__img--1.anim-webmobile-img-1
.webmobile .webmobile__img--2.anim-webmobile-img-2
.webmobile .webmobile__img--3.anim-webmobile-img-3
.webmobile .webmobile__img--4.anim-webmobile-img-4
  transform translate(0)
  opacity 1
  transition .3s ease-out all

