.les-metiers-du-web-formation
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey
  .redirect-container
    background-color $cWhite
  .redirect
    margin-top 0

.formation-container-top
  @extend .containerGridz
.formation-intro
  &__title *
    display: block
    color $cBlueTitles
    text-transform uppercase
  &__title
    margin s(60) 0 s(60) col(1,12) + gutter(12)
    @media screen and (max-width 550px)
      margin s(60) 0 s(20) 0
  &__title span
    font-size s($sz6)
    margin-bottom s(5, $sz6)
  &__title strong
    position: relative
    display: inline-block
    font-size s($sz11)
    font-weight 900
    letter-spacing 1.3px
    @media screen and (max-width 550px)
      font-size s($sz4)
    &:after
      content ''
      display: block
      width s(60, $sz2)
      height s(9, $sz2)
      margin-top s(20, $sz2)
      background-color $cBlueTitles


.formation-quality
  position: relative
  &__intro-container
    position: absolute
    top s(75)
    right: 0
    width col(7,12)
    background-color $cWhite
    @media screen and (max-width 1024px)
      position static
      width: 100%
  &__container-text
    margin 0 auto
    padding s(50) 0 s(64)
    width col(5,7) + gutter(7) + gutter(7)
    clearfix()
  &__title *
    display: block
    color $cBlueTitles
    text-transform uppercase
  &__title span
    font-size s($sz5)
    margin-bottom s(5, $sz5)
  &__title strong
    font-size s($sz4)
    font-weight: 700
    letter-spacing 0.5px
    margin-bottom s(30, $sz4)
  &__text
    @extend .paragraph21
    margin-bottom s(50, $sz6)
  &__link-container
    position: relative
    display: block;
    height: s(20)
    width: 100%
    &:after
      position: absolute
      bottom: -14px
      content ''
      display: inline-block
      height 1px
      width 88.5%
      background-color $cGrey1
      @media screen and (max-width 550px)
        display: none
  &__link
    position absolute
    right 0
    &:after // Circle
      position: absolute
      top -12px
      right: 0
      content ''
      display: inline-block
      width 44px
      height 44px
      border 2px solid rgba(54,61,71,0.80)
      border-radius 50%
    & span
      position: relative
      display inline-block
      font-size s($sz8)
      padding-right s(60)
      color $cBlueCiel
      letter-spacing 0.2px
      @media screen and (max-width 550px)
        line-height: 1.3em
        position: relative
        top -16px
      &:after // Arrow
      &:before // Arrow
        position: absolute
        right: 0
        icon ('arrow-bottom')
        right 13px
        top 5px
        font-size:13px;
        color rgba(36,61,89,0.60);
        @media screen and (max-width 550px)
          top 20px
      &:after // Arrow
        transform translateY(-12px)
        opacity 0
        transition .3s $ease-out-quart all
        transition-property transform, opacity
      &:before // Arrow
        transform translateY(0)
        opacity 1
        transition .3s $ease-out-quart all
        transition-property transform, opacity
  &__link:hover span:after // Arrow
    transform translateY(0px)
    opacity 1
    color $cBlueCiel
    transition .3s $ease-out-quart all
    transition-property transform, opacity
  &__link:hover span:before // Arrow
    transform translateY(12px)
    opacity 0
    transition .3s $ease-out-quart all
    transition-property transform, opacity

@media screen and (max-width 1024px)
  .formation-quality img
    display none

.skills-web
  width col(10,12) + (gutter(12) * 2)
  margin s(55) auto s(200)
  padding s(50) 0
  background-color $cBlue1
  @media screen and (max-width 1024px)
    width: 100%
  @media screen and (max-width 768px)
    margin s(55) auto s(55)
  &__container
    width 80.3738317757009%
    margin: 0 auto
  & *
    color $cWhite
  &__title
    display: block
    width col(3,8) - (gutter(10) * 2) + (gutter(8) * 2)
    margin-bottom s(60, $sz5)
    font-size s($sz5)
    line-height: 1.3em
    font-weight 700
    text-transform: uppercase
    letter-spacing 0.4px
    @media screen and (max-width 1024px)
      width: 100%
    @media screen and (max-width 700px)
      text-align: center
  &__list
    clearfix(left)
  &__item
    width 26.7441860465116% // Parent = 860 -> 230/860
    margin-right 9.8837209% // parent = 860 -> 85/860
    margin-bottom s(60)
    float left
    text-align: center
    @media screen and (max-width 700px)
      width: 100%
      margin-right: 0
    &:nth-last-child(-n+3)
      margin-bottom 0
      @media screen and (max-width 700px)
        margin-bottom s(60)
    &:nth-child(3n+3)
      margin-right: 0
    &:nth-child(4n+4)
      clear left
    & svg
      margin-bottom s(13)
    &__title
      display block
      font-size s($sz6)
      margin-bottom s(10, $sz6)
      font-weight 700
      text-transform uppercase
      letter-spacing 0.7px
    &__text
      font-size s($sz8)
      line-height 1.25em

.formation-infos
  &__container-top
    background #004966 url("../img/formation-web-background1.jpg") no-repeat center center/cover;
    padding s(160) 0
  &__title-wrap
    @extend .containerGridz
    position: relative
  &__title
    width col(5,12)
    font-size: s($sz2)
    font-weight: 700
    text-transform: uppercase
    color: $cWhite
    letter-spacing .5px
    line-height: 1.2
    @media screen and (max-width 1024px)
      width: 100%
      text-align: center
      font-size s($sz4)
  &__img1
    position: absolute
    top: s(-40)
    right: s(40)
    @media screen and (max-width 1300px)
      width: 30%
    @media screen and (max-width 1024px)
      display: none
  &__img2
    position: absolute
    top s(200)
    right s(250) // 2 col + 2 gutter + padding-right
    @media screen and (max-width 1300px)
      width: 30%
    @media screen and (max-width 1024px)
      display: none
  &__text1
    @extend .containerGridz
    margin-top s(60)
    @media screen and (max-width 1024px)
      text-align: center
    &__title
      display: block
      width col(4,12) + gutter(12)
      margin-bottom s(10)
      @extend .titleXXL
      @media screen and (max-width 1024px)
        width: 100%
      letter-spacing .3px
    &__text
      width col(5,12) + gutter(12)
      @extend .paragraph21
      margin-bottom s(120, $sz6)
      @media screen and (max-width 1024px)
        width: 100%
        margin-bottom s(60, $sz6)
      & a
        @extend .linkInText

.formation-choice
  @extend .containerGridz
  margin-bottom s(315)
  @media screen and (max-width 1024px)
    margin-bottom s(150)
  &__wrapper
    position: relative
    background-color $cWhite
    @media screen and (max-width 1024px)
      background-color none
  &__title
    @extend .titleXXL
    width col(3,12)
    padding s(70, $sz4) col(1,12)
    box-sizing content-box
    letter-spacing 0.3px
    line-height: 1.25
    @media screen and (max-width 1024px)
      width: 100%
      padding 0
      background-color #f7f7f9
      padding-bottom s(30)
      text-align: center

  &__text
    @extend .paragraph21
    position: absolute
    top s(80, $sz6)
    right col(1,12)
    width col(6,12) + (gutter(12)*2)
    padding s(60, $sz6)
    background $cBlue1 url("../img/formation-chairs.jpg") no-repeat center center/cover
    color $cWhite
    @media screen and (max-width 1024px)
      position static
      width: 100%
      text-align: center
    @media screen and (max-width 550px)
      padding s(20, $sz6)
    & b
      color inherit
      font-size inherit
      font-weight 600


/************************************\
		BLOCS
\************************************/

.bloc
  position: relative
  background-color $cWhite
  baseShawl($cWhite, 4.5deg)
  &__container
    @extend .containerGridz
    padding s(25) 0 0 0
    @media screen and (max-width: 1024px)
      padding-top s(80)
  &__title *
    display: block
    color $cBlueTitles
    text-transform uppercase
  &__title
    margin 0 0 0 col(1,12)
    @media screen and (max-width: 1024px)
      text-align: center
      margin 0
  &__title span
    font-size s($sz5)
    margin-bottom s(5, $sz5)
  &__title strong
    position: relative
    display: block
    font-size s($sz4)
    font-weight 700
    letter-spacing 0.5px
    margin-bottom s(55, $sz4)
    &:after
      content ''
      display: block
      width s(74, $sz4)
      height s(5, $sz4)
      margin-top s(20, $sz4)
      background-color $cBlueTitles
      position absolute
      left: 0
      @media screen and (max-width: 1024px)
        position static
        margin s(20, $sz4) auto 0 auto
  &__intro
    margin 0 0 s(75) col(1,12)
    width col(6,12) + (gutter(12)*2)
    @extend .paragraph21
    @media screen and (max-width: 1024px)
      width 100%
      padding 0 s(20) s(30) s(20)
      margin 0
      text-align: center

.bloc--2
  background-color $cGreyLight
  &:before
    background-color $cGreyLight

.bloc .course
  @media screen and (max-width: 1024px)
    text-align: center
  clearfix(left)
  &__item
    float: left
    width col(4,12) + (gutter(12)*2)
    margin-left col(1,12)
    margin-right col(2,12)
    margin-bottom s(110)
    @media screen and (max-width: 1024px)
      float none
      width 100%
      margin 0 0 s(80)
      padding 0 s(20)
    &:last-child
      margin-bottom s(200)
      @media screen and (max-width: 1024px)
        margin-bottom 0
        padding-bottom s(120)
    &:nth-child(2n+2)
      margin-left 0
      margin-right 0
  &__title-wrapper
    position: relative
    margin-bottom s(20)
    @media screen and (max-width: 1024px)
      text-align: center
      margin-bottom 0
    clearfix()
    & svg
      width 40px
      height auto
      float: left;
      @media screen and (max-width: 1024px)
        float none
        margin-bottom s(20)
  &__title
    position absolute
    left s(60, $sz6)
    top: 50% - 7px
    transform: translateY(-50%)
    font-size:s($sz6)
    color $cBlueTitles
    text-transform: uppercase
    letter-spacing 0.7px
    line-height: 1.1
    font-weight 600
    @media screen and (max-width: 1024px)
      position static
      display: block
  &__text
    font-size s($sz7)
    line-height: 1.62em
    margin-bottom s(20, $sz7)
    @media screen and (max-width: 1024px)
      margin-bottom: 0
  &__link
    @extend .linkArrowLarge
    margin-top s(15, $sz7)
    font-size s($sz8)
    &:after
      position: relative
      top 1px
      font-size s(12, $sz8)
      margin-left  s(6, $sz8)
    & span
      @extend .hidden

