.realisations
  .header-shawl
    background: #136A8A;
    background: linear-gradient(135deg, rgba(38,120,113,1) 0%, rgba(31,114,122,1) 40%, rgba(25,111,130,1) 58%, rgba(19,106,138,1) 100%);

  .header-rea
    margin-top s(210)
    &__title
      @extend .title51
      display: block
      color $cWhite
      text-shadow: 0 1px 1px rgba(0,0,0,0.50);
      margin-bottom s(40, $sz2)
    &__intro
      @extend .paragraph21
      color $cWhite
      max-width s(630)
