.realisations
  background-color $cBackgroundGrey
  .header-shawl
    background: #136A8A;
    background: linear-gradient(135deg, rgba(38,120,113,1) 0%, rgba(31,114,122,1) 40%, rgba(25,111,130,1) 58%, rgba(19,106,138,1) 100%);
    @media screen and (max-width: 500px)
      padding s(35) s(20) 0
  .header__wrapper
    position relative
  .breadcrumb.breadcrumb--header
    top 0
    margin-top s(192)
    @media screen and (max-width: 1100px)
      width 100%
      text-align: center
    @media screen and (max-width: 500px)
      margin-top s(100)
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

  .header-rea
    margin-top s(210)
    @media screen and (max-width: 500px)
      margin-top s(120)
    &__title
      @extend .title51
      display: block
      color $cWhite
      text-shadow: 0 1px 1px rgba(0,0,0,0.50);
      margin-bottom s(30, $sz2)
      @media screen and (max-width: 1100px)
        text-align: center
      @media screen and (max-width: 768px)
        font-size s($sz4)
    &__intro
      @extend .paragraph21
      color $cWhite
      max-width s(630)
      @media screen and (max-width: 1100px)
        text-align: center
        max-width none
    &__tablet
      position: absolute
      top: s(280)
      right: s(-244)
      z-index 1
      transform translateX(100px) translateY(-50px) rotate(-5deg)
      animation .7s ease rea-tablet forwards
      @media screen and (max-width: 1100px)
        display: none
    &__phone
      position: absolute
      top s(340)
      right s(-30)
      z-index 2
      transform translateX(60px) translateY(-30px) rotate(3deg)
      animation .7s ease rea-phone forwards
      @media screen and (max-width: 1100px)
        display: none

.rea-printer-wrapper
  position relative
  position: absolute
  bottom: s(-170)
  left: 54%
  transform: translateY(60px);
  animation .7s ease rea-printer forwards
  @media screen and (max-width: 1100px)
    display: none
  & .rea-printer__A4-wrapper
    position: absolute
    overflow hidden
    top: -12px
    left 94px
    transform: rotate(4.5deg);
    .header-rea__A4
      display: block
      transform translateX(0px) translateY(168px) rotate(-4.5deg)
      animation 8s linear rea-A4 forwards

@keyframes rea-tablet
  0%
    transform translateX(100px) translateY(-50px) rotate(-5deg)
  100%
    transform translateX(0) translateY(0) rotate(0)
@keyframes rea-phone
  0%
    transform translateX(40px) translateY(-20px) rotate(3deg)
  100%
    transform translateX(0) translateY(0) rotate(0)
@keyframes rea-A4
  0%
  transform translateX(0) translateY(168px) rotate(-4.5deg)
  100%
    transform translateX(0) translateY(8px) rotate(-4.5deg)
@keyframes rea-printer
  0%
    transform translateY(60px)
  100%
    transform translateY(10px)
