.oneRea
  background-color $cBackgroundGrey
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

.rea
  &__container
    @extend .containerGridz
    margin-top s(100)
  &__name
    @extend .title51
    text-align: center
    &:after
      content ''
      height s(30, $sz2)
      width 1px
      display: block
      margin s(30, $sz2) auto
      background $cGrey-lineMenu
  &__author
    display: block
    text-align: center
    margin-bottom s(80)
    font-weight 300
    font-size s($sz6)
    letter-spacing 0.5px
  &__link
    display: inline-block
    font-size: s($sz6, $sz6);
    @extend .linkInText
    font-weight 300
    &:after
      bottom -4px


.rSlider
  &:after
    @extend .clearfix
  &__container
    width col(9,12) + gutter(12)
    overflow hidden
  &__item
    position relative
    display: block
    float: left
    cursor grab
    background:url('http://www.smuggs.com/pages/resort_welcome/images/universal/page/gallery-loading.gif') no-repeat scroll center center transparent;
    &--withIframe
      cursor pointer
  &__img
    display: block
    height s(531)
    object-fit cover
    object-position center

.rSlider li.hasIframe img
  display: none
