.work
  background-color $cBackgroundGrey
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

.rea
  &__container
    @extend .containerGridz
    margin-top s(100)
    @media screen and (max-width 550px)
      margin-top s(50)
  &__wrapper-top
    position: relative
    margin-bottom s(150)
    @media screen and (max-width 1024px)
      margin-bottom s(50)
    &:after
      @extend .clearfix
  &__name
    @extend .title51
    text-align: center
    @media screen and (max-width 550px)
      font-size s($sz5)
    &:after
      content ''
      height s(30, $sz2)
      width 1px
      display: block
      margin s(30, $sz2) auto
      background $cGrey-lineMenu
      animation lineAnimation .8s ease forwards
      transform-origin 100% 0%
  &__author
    display: block
    text-align: center
    margin-bottom s(80)
    font-weight 300
    font-size s($sz6)
    letter-spacing 0.5px
    transform translateY(-20px)
    opacity 0
    animation authorAnimation .5s .7s ease forwards
    @media screen and (max-width 550px)
      font-size s($sz7)
      margin-bottom s(50)
  &__link
    display: inline-block
    font-size: s($sz6, $sz6);
    @extend .linkInText
    font-weight 300
    margin-right s(5, $sz6)
    &:after
      bottom -4px
    &:before
      content ','
      position absolute
      right -4px
      bottom 0
      color $cBlack
    &:last-child:before
      display: none




@keyframes lineAnimation
  0%
    transform scaleY(0)
  100%
    transform scaleY(1)

@keyframes authorAnimation
  0%
    transform translateY(-20px)
    opacity 0
  100%
    transform translateY(0px)
    opacity 1
/************************************\
		INFOS REA
\************************************/
.rea-infos
  position absolute
  top s(45)
  right: 0
  width s(420)
  background $cWhite
  padding-bottom s(35)
  box-shadow: 0 0 6px 0 rgba(185,185,185,0.50);
  z-index 2
  @media screen and (max-width 1024px)
    position static
    width 100%
    margin-bottom s(50)
  &__title
    margin-bottom s(35, $sz6)
    padding s(35, $sz6) s(20, $sz6)
    font-size s($sz6)
    font-weight 900
    color $cBlueTitles
    letter-spacing 3px
    text-transform: uppercase
    text-align: center
    border-bottom 1px solid $cGrey-lineMenu2
    @media screen and (max-width 550px)
      font-size s($sz7)
  &__list
    padding 0 s(35) 0 s(35)
    @media screen and (max-width 1024px)
      text-align: center
  &__term
    margin s(30, $sz10) 0 s(15, $sz10)
    font-size: s($sz10)
    font-weight 900
    color $cBlueTitles
    letter-spacing 1.3px
    text-transform: uppercase
  &__data
    font-size: s($sz7)
    margin-bottom s(15, $sz7)
    &:before
      content ''
      display inline-block
      width: 10px
      height 3px
      margin-right s(10, $sz7)
      background $cGrey-lineMenu
      vertical-align middle
      @media screen and (max-width 1024px)
        display: none
    & .rea-infos__link
      display: inline-block
      font-size inherit
      @extend .linkInText
      line-height: 1.45em
      font-weight 400
      &:after
        bottom 1px
  &__skill
    display: inline-block
    font-size s($sz7, $sz7)
    line-height: 1.45em
    @extend .linkInText
    font-weight: 400
    margin-right: s(3, $sz7)
    &:after
      bottom 1px
    &:before
      content ','
      position: absolute
      right: s(-3, $sz7)
      bottom: 0
    &:last-child:before
      content ''

.rea-share
  padding 0 s(35) 0 s(35)
  &__label
    display: block
    @extend .rea-infos__term
    @media screen and (max-width 1024px)
      text-align: center
    margin s(30, $sz10) 0 s(10, $sz10)
  & .social-list-circle__item
    display: inline-block
    margin-right s(10)
  & .social-list-circle__link:before
    font-size 35px

.rea-infos.rea-infos--with-button
  padding-bottom s(85)

/************************************\
		BUTTONS FOR REA-INFOS
\************************************/
.rea-button__wrapper
  position: absolute
  bottom s(-25)
  left 0
  right: 0
  text-align: center
.rea-button
  @extend .buttonLeftToRightBlack
  &__label
    position: relative
    top -5px
  &:after
    icon('portfolio-circle');
    font-size 25px
    position: relative
    margin-left 10px
  &__hidden
    @extend .hidden

/************************************\
		DESC & PROF
\************************************/

.rea-content
  position: relative
  &:after
    @extend .clearfix
  &__desc
    background $cWhite
    width 61.74193548387096%
    padding s(60) s(70) s(60) 8%
    @media screen and (max-width 1024px)
      width 100%
      @media screen and (max-width 550px)
        padding s(30) s(20)
    & .rea-content__title
      color $cBlueTitles
  &__title
    @extend .titleExtraBold
  &__prof
    background $cBlue1
    width col(5,12) + gutter(12)
    padding s(60) s(50)
    @media screen and (max-width 1024px)
      width: 100%
    @media screen and (max-width 550px)
      padding s(30) s(20)
    & .rea-content__title
      color $cWhite
      &:after
        background $cWhite
    & p
      color $cWhite
  &__prof
  &__desc
    & p
      font-size: s($sz7)
      line-height 1.62em
      margin-bottom s(20, $sz7)
      &:last-child
        margin-bottom: 0
  &__desc
    float: right
    @media screen and (max-width 1024px)
      float none
  &__prof
    position: relative
    top s(100)
    z-index 2
    @media screen and (max-width 1024px)
      position static
      margin-top s(50)
.rea-content__button
  position: absolute
  right 40px
  bottom -45px
  @extend .buttonLeftToRightBlack
  background $cGithub
  vertical-align middle
  &:before
    background $cGithub + 15%
  &:after
    icon('github-btn');
    float: left
    font-size s(28, $sz10)
    margin-right s(15, 28)
  & span
    padding-top s(6, $sz10)


/************************************\
		.rea-others
\************************************/

.rea-others
  margin-top s(180)
  @media screen and (max-width 1024px)
    margin-top s(50)
  &__title
    @extend .titleExtraBold
    color $cBlueTitles
    margin-bottom s(50, $sz6);

.work
  .reas
    @media screen and (max-width 1024px)
      width 100%
    .reas__item
      width 31.048387097% // (385/1240) * 100
      float: left
      height 100%
      margin 0 3.410967742% 0 0 // 48/1240*100
      @media screen and (max-width 550px)
        float none
        width: 100%
        margin 0 0 s(30) 0
      &:last-child
        margin 0 0 0 0
        @media screen and (max-width 550px)
          margin 0 0 s(30) 0
    .reas__img
      height auto
      @media screen and (max-width 550px)
        width 100%
    .reas__desc__name
      font-size s($sz5)
      line-height 1.1em

.work
  .social-list-circle
    @media screen and (max-width 1024px)
      text-align center
