.oneRea
  background-color $cBackgroundGrey
  .container
    background-color $cBackgroundGrey
    &:before
      background-color $cBackgroundGrey

.rea
  &__container
    @extend .containerGridz
    margin-top s(100)
  &__name
    @extend .title51
    text-align: center
    &:after
      content ''
      height s(30, $sz2)
      width 1px
      display: block
      margin s(30, $sz2) auto
      background $cGrey-lineMenu
  &__author
    display: block
    text-align: center
    margin-bottom s(80)
    font-weight 300
    font-size s($sz6)
    letter-spacing 0.5px
  &__link
    display: inline-block
    font-size: s($sz6, $sz6);
    @extend .linkInText
    font-weight 300
    &:after
      bottom -4px


.rSlider
  &:after
    @extend .clearfix
  &__container
    width col(9,12) + gutter(12)
    overflow hidden
  &__item
    position relative
    display: block
    float: left
    cursor grab
    background:url('http://www.smuggs.com/pages/resort_welcome/images/universal/page/gallery-loading.gif') no-repeat scroll center center transparent;
    &--withIframe
      cursor pointer
  &__img
    display: block
    height s(531)
    object-fit cover
    object-position center

.rSlider li.hasIframe img
  display: none




// Hack lightSlider
.rSlider__container
  & .lSSlideOuter
    & .lSGallery
      &__container
        width 81.164021164% !important // 767/945*100
        overflow hidden
        margin-top s(25)
      & li
        float left
        //width 17.47133758% !important // (145/785)*100
        //width 145px !important // (145/785)*100
        &:last-child
          margin-right 0 !important
      &:after
        @extend .clearfix

.label-gallery
  @extend .hidden

@keyframes rightEnd {
  0% {
    left: 0;
  }

  50% {
    left: -15px;
  }

  100% {
    left: 0;
  }
}


@keyframes leftEnd {
  0% {
    left: 0;
  }

  50% {
    left: 15px;
  }

  100% {
    left: 0;
  }
}
@keyframes bottomEnd {
  0% {
    bottom: 0;
  }

  50% {
    bottom: -15px;
  }

  100% {
    bottom: 0;
  }
}
.lSSlideOuter .rightEnd
  -webkit-animation: rightEnd 0.3s;
  animation: rightEnd 0.3s;
  position: relative;

.lSSlideOuter .leftEnd
  -webkit-animation: leftEnd 0.3s;
  animation: leftEnd 0.3s;
  position: relative;


.lSSlideWrapper .lSSlide
  transform: translate(0px, 0px)
  transition-property: transform, height
  transition-duration: inherit
  -webkit-transition-timing-function: inherit
  transition-timing-function: inherit
